<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="newproject">
  <form id="myForm" class="form-group" #myForm="ngForm">
    <label for="pname"><h3>Project Name</h3> </label>
    <input type="text" name="pname" id="pname" class="form-control" placeholder="Enter your project name" #name required>

    <label for="pdescription"> <h3>Project description</h3> </label>
    <textarea class="form-control" id="pdescription" rows="3" #description required> </textarea>

    <label for="pcategories"> Select categories </label>
    <select name="pcategories" multiple class="form-control" id="pcategories" (change)="addCategory()">
      <option *ngFor="let cat of categories"> {{ cat }} </option>
    </select>

    <label> Team members </label>
    <input type="text" class="form-control" placeholder="Enter your project partners" #members>

    <p id="fillCorrectly" style="display: none; color: red">Please fill out the required fields</p>

<!--    <label for="fileup">File:</label>-->
<!--    <input type="file" id="fileup" (change)="upload($event)" accept=".png,.jpg" />-->
<!--    <progress max="100" [value]="(uploadProgress | async)"></progress>-->
<!--    <div class="result" *ngIf="downloadURL | async; let uploadSrc">-->
<!--      <a [href]="uploadSrc">You just uploaded this file!</a>-->

<!--      <div class="container" *ngIf="downloadURL | async; let url">-->
<!--        <img [src]="url" alt="Image from AngularFireStorage">-->
<!--      </div>-->
<!--    </div>-->
    <app-uploader id="uploader" class="row"> </app-uploader>
<br>
    <button class="btn btn-primary" (click)="Submit(name.value, description.value, members.value)">Submit</button>
  </form>
</div>
</body>

<app-main-navbar></app-main-navbar>
