<form id="myForm" class="form-group modal-body" #myForm="ngForm" autocomplete="off">
  <br>
  <div id="create-post-header flex">
    <h5>Create a new project</h5>
  </div>
  <input type="text" name="pname" id="pname" class="form-control" placeholder="Project name" #name required>
  <label class="description-label" for="pdescription"><h6>Description</h6></label>
  <quill-editor [styles]="editorStyle" id="pdescription" [modules]="config" placeholder="describe your project..."
                name="description" [(ngModel)]="description"></quill-editor>
  <div id="photoUpload" class="row">
    <app-upload-image class="col-6 photo-upload-comp" [addButton]="'Add banner'"
                      (childMessage)="getBannerFile($event)"></app-upload-image>
    <app-upload-images class="col-6 photo-upload-comp" [addButton]="'Add images'"
                       (imagesMessage)="getImageFiles($event)"></app-upload-images>
  </div>
<!--  <app-add-tag [purpose]="'tags'" [headline]="'Tags'" [placeholder]="'add tag'"
               (purposeMessage)="getPurposeMessage($event)"
               (childMessage)="getChildMessage($event)">
  </app-add-tag>-->
  <h6>Tags</h6>
  <div class="btn-plus pointer" (click)="toggleDisplay()" [hidden]="isShow"></div>
  <mat-form-field class="text-black-50 mat-form-field-inputs" [hidden]="!isShow">
    <mat-chip-list #chipListTag aria-label="Tag selection">
      <mat-chip *ngFor="let tag of selectedCategories" [selectable]="selectableTag"
                [removable]="removableTag" (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removableTag">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New Tag..."
             [matChipInputFor]="chipListTag"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>
  <h6>Contributors</h6>
  <div class="btn-plus pointer" (click)="toggleDisplay()" [hidden]="isShow"></div>
  <mat-form-field class="text-black-50 mat-form-field-inputs" floatLabel="never" [hidden]="!isShow">
    <mat-chip-list #chipList aria-label="Contributor selection">
      <mat-chip
        *ngFor="let contributor of contributors"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(contributor)">
        {{contributor}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input (keyup)="onkeyup($event)" type="text"
             placeholder="Search members..."
             #contributorInput
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let offset of results | async" [value]="offset.displayName">
       <small (click)="addContributorUid(offset.uid)"><img class="example-option-img rounded" [src]="offset.photoURL" height="25" aria-hidden ="true" alt="profile_pic">   {{ offset.displayName }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <p id="fillCorrectly" style="display: none; color: red">Please fill out all the required fields!</p>

  <div class="row save-project-container">
    <div class="saving-project">
      <span> Saving ... </span>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <button id="create" class="saveDataButton boderButton roundButton showBtnTechsdome transition02s"
            (click)="submit(name.value)">Create
    </button>
  </div>
  <br>
  <br>
  <br>
</form>
