.photoResults {
  margin: 10px;
  padding: 0;
}

#photoUpload {
  margin: 5px;
}

.photo-upload-comp {
  padding: 0;
}

.mat-tab-label {
  min-width: 33% !important;
  padding: 5px;
  background-color: transparent;
}

.visible {
  display: inline-block;
}

.save-project-container {
  margin: 0;
  padding: 0;
  justify-content: end;
}

.saving-project {
  margin-right: 10px;
  display: none;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 33% !important;
  padding: 5px;
  background-color: transparent;
}

/* Styles for the ink bar */

.myImg {
  margin:0;
}

#newproject .myImg .myButtons button {
  margin: 0;
}
.photoResults p {
  font-size: 10pt;
}

.myButtons {
  margin: 5px;
}

.photoResults div {
  margin: 0;
  padding: 0;
  width: 100%;
}

.filename:hover {
  overflow: visible !important;
  white-space: normal;
}


#newproject .photoRemove {
  margin: 0;
}

.hidden-file {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height:0px;
  border:none;
  margin:0;
  padding:0
}

#uploader {
  justify-content: center;
  align-content: center;
}

#myForm .description-label {
  margin: 10px 0 3px 0;
  padding: 10px 0 3px 0;
}

#newproject input {
  border: none;
  border: solid 1px #ccc;
  border-radius: 30px;
}

.showBtnTechsdome{
  display:inline-block;
}

.hideBtnTechsdome{
  display: none;
}

#newproject button {
  margin: 10px 5px;
}

#newproject #create {
  float: right;
  margin: 2px 0 15px 0;
  padding: 2px 15px;
}

#newproject h6 {
  margin-left: 10px;
}

#myForm textarea {
  resize: none;
  overflow: auto;
  margin-bottom: 5px;
}

#item-container .createItemButton {
  margin-left: 5px;
}

#newproject #create-post-form {
  height: 590px;
  top: -250px;
  max-height: calc(100vw - 100px);
  overflow: hidden;
}

#newproject #create-post-form form {
  margin-top: 30px;
  left: 0;
  margin-left: 12.5%;
  padding-right: 40px;
  padding-left: 5px;
  width: 80%;
  max-height: calc(100vh - 180px);
  height: 90%;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* scrollbar  */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey;*/
  /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8cac6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdbfbb;
}


