<div id="newproject">
  <h3>Project Name</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter your project name" required>
  </div>
  <h3>Project description</h3>
  <div class="form-group">
    <label for="pdescription"> Project description </label>
    <textarea class="form-control" id="pdescription" rows="3"> </textarea>
  </div>
  <div class="form-group">
    <label for="pcategories"> Select categories </label>
    <select multiple class="form-control" id="pcategories">
      <option>Web programming </option>
      <option>IT Security </option>
      <option>Animation </option>
      <option>Hardware</option>
      <option>Software</option>
    </select>
  </div>
  <!-- <div class="form-group">
    <input type="text" class="form-control" placeholder="devlog">
  </div>
   <div id="discussion">
    <h2> Username </h2>
    <p> Username message </p>
  </div> -->
  <button class="btn btn-primary" type="submit" value="submit"> Submit </button>
</div>

<app-main-navbar></app-main-navbar>
