textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 95px;
}

#header-input{
    display: flex;
}

h4{
    display: inline;
}

.saveDataButton {
  color: #8e908c;
}

.saveDataButton:hover {
  color: white;
}

#header-input h6{
  font-weight: 600;
}

#header-input .edit-about-button {
  margin: 0 0 8px 10px;
}

.inputfield-container {
  margin: 15px 0 0 0;
}
