#bg {
  padding: 100px 40px 20px 175px;
}

#project-container {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: auto;
  border-radius: 20px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: #bdc3c6;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

#banner-picture {
  padding: 0;
  height: 190px;
  justify-content: end;
}

#content {
  padding: 40px;
}

#project-name {
  margin: 0;
  padding: 0;
}

.h1, h1 {
  margin-left: 15px;
}

#interact-button {
  margin: 0;
  padding: 0;
}

.i-btn:hover {
  background-color: #d7d7d7;
  color: #5e5d5d;
}

#headline #interact-button .i-btn {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff6ff;
  color: #5e5d5d;
  border-radius: 35px;
}

#gallery .h2, h2 {
  display: block;
  font-size: 18px;
  margin-top: 15px;
}

.image {
  background-size: cover;
}

#description h2 a {
  color: #808080;
  margin: 10px;
}

#description h2 a:hover {
  color: #afafaf;
  text-decoration: none;
}

#menu {
  width: 100%;
  margin-bottom: 10px;
}

#menu div {
  padding: 0;
}

#menu svg {
  margin: 5px;
}

#menu .menupoints {
  padding-top: 5px;
  border-bottom: 2px solid #d3d9dc;
}

.menupoints h2 {
  display: inline;
  margin: 5px 5px;
}

.editProject {
  padding-right: 15px;
}

#content > div {
  padding: 0 15px;
}


p {
  font-size: 16px;
  margin: 10px;
}

#text-description {
  margin-top: 20px;
}

#contributors .h3, h3 {
  font-size: 18px;
  font-weight: 500;
}

.username {
  color: #8e908c;
}

#info-panel {
  padding: 20px 5px;
  border-radius: 20px;
}

#hashtags {
  padding-left: 20px;
  padding-top: 20px;
}

#hashtags a {
  background-color: #0058FF;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  margin: 0 2px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.removePictureButton {
  position: relative;
  top: -5px;
  right: -100px;
  overflow: visible;
  z-index: 1;
  border:none;
  background: none;
}

.removePictureButton:hover {
  transform: scale(1.1);
}

.editbg {
  background-color: #f7f7f7;
  border-radius: 20px;
}

.removeMemberButton {
  border: none;
  background: none;
  display: inline;
  padding: 0;
  margin: 0;
}

#gallery img:hover {
  margin-left: -5px;
  width: 120%;
  height: auto;
}

.addMember {
  padding: 5px 5px;
}

.addMember svg {
  margin-bottom: 12px;
}

.addMember h6 {
  margin: 0;
}

.addTag {
  margin-top: -5px;
}

.addMemberInput {
  width: 80px;
  height: 20px;
  font-size: 8pt;
  padding: 1px 5px 1px 5px;
  margin-top: 82%;
}

#edit-banner {
  position: absolute;
  top: -146px;
  left: 12px;
  background-color: #f3f5f7;
  padding: 10px 20px;
}

#edit-banner-container {
  position: relative;
  height: 0;
  width: 100%;
}

#edit-banner li {
  padding: 5px 0 10px 0;
  cursor: pointer;
}

#edit-banner li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#edit-banner li:last-child {
  border-top: 1px solid #99797979;
  padding: 10px 0 5px 0;;
}

.edit-banner-button {
  background-color: #f3f5f7;
  position: relative;
  top: 130px;
  left: 82.8%;
  padding: 3px 15px;
  z-index: 1;
  height: max-content;
}

#gallery img {
  width: 110%;
  height: auto;

}

.gallery-pictures {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 20px;
  margin: 3px;
  padding: 0 !important;
}

.editPictures {
  margin-top: -25px;
}

.uploader{
  width: 100%;
  height: 100%;
  display: inline-block;
}

#gallery {
  margin-top: 10px;
  width: 90%;
  display: inline-block;
}
.pictures-container{
  display: inline-block;
  margin: 2px 10px;
  max-width: 120px;
  max-height: 120px;
  padding: 0 !important;
}

.addPictureContainer {
  max-width: 120px;
  margin: 2px 10px;
}

.SaveProjectButton {
  display: inline-block;
  width: 10%;
}

.saveProject {
  margin: 5px;
  background-color: #ced7e5;
}

.discardProject {
  margin: 5px;
  padding: 5px;
}

.changeName {
  width: 50%;
  font-size: 18pt;
  padding: 1px 1px 1px 20px;
  margin-left: 15px;
  margin-bottom: 8px;
}

.changeDescription {
  font-size: 12pt;
}

textarea {
  resize: none;
  overflow: auto;
  margin-bottom: 5px;
  width: 70%;
}

input {
  border: none;
  border: solid 1px #ccc;
  border-radius: 30px;
}

#banner {
  max-height: 250px;
  overflow: hidden;
  border-radius: 20px;
}

.pname {
  margin-bottom: 8px;
}

#interact-button .btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #afafaf;
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

#interact-button .btn-primary {
  color: #fff;
  background-color: #007bff !important;
  border-color: #d3d9dc;
}

a:hover {
  text-decoration: none;
  background-color: #007bff;
}

