#bg {
  padding: 100px 40px 20px 175px;
}

#project-container {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: auto;
  border-radius: 20px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: #bdc3c6;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

#banner-picture {
  padding: 0;
  height: auto;
}

#banner-picture img {
  max-width: 100%;
  height: auto;
}

#content {
  padding: 40px;
}

#project-name {
  margin: 0;
  padding: 0;
}

.h1, h1 {
  margin-left: 15px;
}

#interact-button {
  margin: 0;
  padding: 0;
}

.i-btn:hover {
  background-color: #d7d7d7;
  color: #5e5d5d;
}

#headline #interact-button .i-btn {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff6ff;
  color: #5e5d5d;
  border-radius: 35px;
}

#gallery .h2, h2 {
  display: block;
  font-size: 18px;
  margin-top: 15px;
}


#description h2 a {
  color: #808080;
  margin: 10px;
}

#description h2 a:hover {
  color: #afafaf;
  text-decoration: none;
}

#menu {
  width: 55%;
  border-bottom: 2px solid #d3d9dc;
}

p {
  font-size: 16px;
  margin: 10px;
}

#text-description {
  margin-top: 20px;
}

#contributors .h3, h3 {
  font-size: 18px;
  font-weight: 500;
}

.username {
  color: #8e908c;
}

#info-panel {
  padding: 20px 5px;
  border-radius: 20px;
}

#hashtags {
  padding-left: 20px;
  padding-top: 20px;
}

#hashtags a {
  background-color: #0058FF;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  margin: 0 2px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

#gallery img:hover {
  margin-left: -5px;
  width: 120%;
  height: 120%;
}

#gallery img {
  width: 110%;
  height: 110%;
}

.gallery-pictures {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 20px;
  margin: 3px;
}

#gallery {
  margin-top: 10px;
}

#banner {
  max-height: 250px;
  overflow: hidden;
  border-radius: 20px;
}

#interact-button .btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #afafaf;
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

#interact-button .btn-primary {
  color: #fff;
  background-color: #007bff !important;
  border-color: #d3d9dc;
}

a:hover {
  text-decoration: none;
  background-color: #007bff;
}

