<div class="modal-content">
  <div id="create-post-form">
    <div id="create-post-inner">
      <mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight>
        <mat-tab label="Post">
          <br>
          <div class="create-post-header flex">
            <h5>Create a new post</h5>
          </div>
          <quill-editor class="ql-editor" [styles]="editorStyle" [modules]="config" (onContentChanged)="maxLength($event)"
                        [(ngModel)]="post" name="post" placeholder="My post..."></quill-editor>
          <h6>Tags</h6>
          <div class="btn-plus pointer" (click)="toggleDisplay()" [hidden]="isShow"></div>
          <mat-form-field class="text-black-50 mat-form-field-inputs" [hidden]="!isShow">
            <mat-chip-list #chipListTag1 aria-label="Tag selection">
              <mat-chip *ngFor="let tag of selectedCategories" [selectable]="selectableTag"
                        [removable]="removableTag" (removed)="removeTag(tag)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removableTag">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New Tag..."
                     [matChipInputFor]="chipListTag1"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
          </mat-form-field>
          <div class="row btn-save-discard">
            <button type="button" (click)="this.activeModal.close(); toggleScreen()"
                    class="btn-discard button">Discard</button>
            <button type="button" (click)="savePost('post'); toggleScreen(); changePostTypeNormalPost();"
                    class="boderButton roundButton button transition02s opacity-05">Create</button>
          </div>
        </mat-tab>

        <mat-tab label="Question">
          <br>
          <div class="create-post-header flex">
            <h5>Ask a question</h5>
          </div>
          <quill-editor [styles]="editorStyle" [modules]="config" (onContentChanged)="maxLength($event)"
                        [(ngModel)]="post" name="post" placeholder="My post..."></quill-editor>
          <h6>Tags</h6>
          <div class="btn-plus pointer" (click)="toggleDisplay()" [hidden]="isShow"></div>
          <mat-form-field class="text-black-50 mat-form-field-inputs" [hidden]="!isShow">
            <mat-chip-list #chipListTag2 aria-label="Tag selection">
              <mat-chip *ngFor="let tag of selectedCategories" [selectable]="selectableTag"
                        [removable]="removableTag" (removed)="removeTag(tag)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removableTag">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New Tag..."
                     [matChipInputFor]="chipListTag2"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
          </mat-form-field>
          <div class="row btn-save-discard">
            <button type="button" (click)="this.activeModal.close(); toggleScreen()"
                    class="btn-discard button">Discard</button>
            <button type="button" (click)="savePost('question'); toggleScreen()"
                    class="boderButton roundButton button transition02s opacity-05">Create</button>
          </div>
        </mat-tab>

        <mat-tab label="Project">
          <app-new-project></app-new-project>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

