/*for profile menu*/

ol, ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#comment-section ul {
  display: unset;
}

li {
  padding: 0;
  vertical-align: middle;
}

button {
  margin-left: auto;
}

.filter {
  background-color: #fff;
  border-radius: 100px;
  border: solid 2px #a6b0bf;
  padding: 2px 30px 0px 30px;
  margin: 10px 0px 10px auto;
}

a:hover, a:focus, a:active {
  color: #999;
  text-decoration: none;
}

nav {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  flex-direction: row;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  padding: 14px 12px;
  text-decoration: none;
  position: relative;
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #000;
}

a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

a:active::before {
  background-color: #000;
}

a:hover::before, a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/*now all*/

.projectpost {
  /*background-color: #fff;*/
  /*margin: 30px;*/
  /*border-radius: 20px;*/
  border-radius: 20px;
  background: #F3F5F7;
  box-shadow: 5px 5px 10px #e0e1e3,
  -5px -5px 10px #ffffff;

}

.projectpost > .row {
  width: 100%;
  height: 100%;
}

.projectpost * {
  margin: 0;
  padding: 0;
}

.maininfo {
  padding: 30px !important;
}

.bi-chat {
  opacity: 70%;
}

.maindescription {
  margin: 20px 20px 20px -10px !important;
  flex-wrap: inherit !important;
  flex-direction: column;
}

/*.projectpost {
  height: 300px;
}
*/

.typeMark {
  filter: grayscale(100%);
  opacity: 15%;
  margin: 7px !important;
}

.pname {
  display: contents;
}

.pname0 {
  display: contents;
}

.sideinfo {
  height: 100%;
  padding: 10px !important;
}

.sideinfo h6 {
  margin: 5px !important;
  color: #8e908c;
}

.smallbanner img {
  margin: -30px 0 0 -30px;
  width: 90%;
  height: auto;
  max-height: 100px;
  border-radius: 20px;
}

.commentButtonArea {
  margin-top: 30px;
  margin-left: auto !important;
  display: flex;
}

.commentButtonArea p {
  align-self: center;
}

.smallbanner {
  margin: 0;
  padding: 0;
}

.description div {
  margin: 0;
  padding: 0;
}

.description {
  width: 100%;
  margin: 8px !important;
}

.icon {
  margin: 10px !important;
  margin-right: 15px !important;
}

.icon:hover {
  cursor: pointer;
}

.sideinfo .contributors {
  width: 40px !important;
  height: 40px !important;
  max-height: 40px !important;
  max-width: 40px !important;
  margin: 2px !important;
}

.iconlist {
  margin: 5px !important;
}

.iconlist svg {
  color: #cfd1cd;
}

.iconlist svg:hover {
  color: #e31b23;
}

.viewButton {
  padding: 3px 8px !important;
}

.viewButton svg {
  margin: 1px !important;
}

.myrow {
  margin: 15px 2px !important;
}

.sub-maindescription {
  display: flex;
}

.line {
  border: 1px solid rgba(130, 130, 130, 0.1);
  height: 200px;
}

.pname h5 {
  display: inline-block;
  width: max-content;
  margin: 0 5px 0 0;
}
