<!--
<app-profile-menu (activeMenuItemChange)="changeMenuItem($event)" [activeMenuItem]="this.activeMenu"></app-profile-menu>
-->

<div class="post-container">
  <img [src]="allPostsObject.userPhotoURL" alt="profil picture" class="small-profile-picture image-shadow">
  <div class="row projectpost">
    <div class="col-9 maininfo">
      <div *ngIf="allPostsObject.type == 'project'" class="col-12 smallbanner">
        <img src="../../../assets/Project/20180726_Budapest_23.jpg" height="359"
             width="1920" alt="projectbanner"/>
      </div>
      <div class="row name">
              <div class="col-12">
                <div class="col-10 pname">
                  <h5> {{ allPostsObject ? allPostsObject.displayName : 'Jon Doe'}} posted: </h5>
                </div>
              </div>
              </div>
            <div class="row maindescription">
              <div class="sub-maindescription">
                    <div class="col-12 pname0">
                      <div class="col-4 pname">
                        <img class="typeMark" style="width: 25px; height: 25px;" [src]="allPostsObject.typeImage" alt="typeImage">
                        <h4> {{ allPostsObject ? allPostsObject.projectName : 'Project Alpha' }} </h4>
                      </div>
                    </div>
                    <br>
                    <div class="row description">
                      <div class="col-9">
                        <div [innerHTML] = "allPostsObject ? allPostsObject.postText : 'This is my description, Im very happy to be here, welcome all, this is very exciting'"> </div>
                      </div>
                    </div>
                </div>
                <div class="commentButtonArea">
                    <p>{{commentsLenght}}</p>
                    <svg class="bi bi-chat icon commentary" width="1.5em" height="1.6em" viewBox="0 0 16 16" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg" (click)="openCommentSection()">
                        <path fill-rule="evenodd"
                          d="M2.678 11.894a1 1 0 01.287.801 10.97 10.97 0 01-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 01.71-.074A8.06 8.06 0 008 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 01-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 00.244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.52.263-1.639.742-3.468 1.105z"
                          clip-rule="evenodd"/>
                    </svg>
                </div>
                <section id="comment-section" [ngClass]= "showCommentSection?'showBtnTechsdome':'hideBtnTechsdome'">
                  <hr>
                      <ul>

                          <li *ngFor="let comment of comments">
                              <p><strong>{{comment.commentName}}</strong>: {{comment.comment}}</p>
                          </li>
                      </ul>
                      <input class="roundInputField" id="comment" type="text" [(ngModel)]= "comment">
                      <button class="boderButton" (click)="addComment()">Save comment</button>
                </section>
            </div>
      </div>

    <div class="col-3 sideinfo justify-content-center">
      <div class="row justify-content-center myrow">
        <div class="col-12 text-center iconlist align-content-center">
        <p>{{likes}} likes</p>
          <svg (click)= "updateLikes()" class="bi bi-heart-fill icon" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                  clip-rule="evenodd"/>
          </svg>
          <svg class="bi bi-bookmark-fill icon" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 3a2 2 0 012-2h6a2 2 0 012 2v12l-5-3-5 3V3z" clip-rule="evenodd"/>
          </svg>
          <svg class="bi bi-reply-fill icon" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.079 11.9l4.568-3.281a.719.719 0 000-1.238L9.079 4.1A.716.716 0 008 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z"/>
          </svg>
        </div>
        <button *ngIf="allPostsObject.type == 'project'" class="boderButton viewButton"> View Project
          <svg class="bi bi-chevron-right icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
                  clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <div *ngIf="allPostsObject.type == 'project'" class="row myrow">
        <h6> Technology </h6>
        <div class="col-12">
        <!--
          <div class="itemInputButton d-inline-block" *ngFor="let tag of allPostsObject.projectCategories">
            <p> {{ allPostsObject ? tag : 'MyTag'}} </p>
          </div>-->
        </div>
      </div>
      <div *ngIf="allPostsObject.type == 'project'" class="row myrow">
        <h6> Contributors </h6>
        <div class="col-12">
        <!--
          <div class="border rounded-circle view overlay zoom contributors d-inline-block"
               *ngFor="let member of allPostsObject.projectMembers">
            <img class="contributor img-fluid" src="../../../assets/Project/Howto.JPG" alt="contributer" height="514"
                 width="913"/>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
