/*for profile menu*/

ol, ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#comment-section ul {
  display: unset;
}

li {
  padding: 0;
  vertical-align: middle;
}

button {
  margin-left: auto;
}

.filter {
  background-color: #fff;
  border-radius: 100px;
  border: solid 2px #a6b0bf;
  padding: 2px 30px 0px 30px;
  margin: 10px 0px 10px auto;
}

a:hover, a:focus, a:active {
  color: #999;
  text-decoration: none;
}

nav {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  flex-direction: row;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/* Anmerkung: hat keine Änderungen ausgelöst */
/*a {
  padding: 14px 12px;
  text-decoration: none;
  position: relative;
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #000;
}

a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

a:active::before {
  background-color: #000;
}

a:hover::before, a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}*/

/*now all*/

.projectpost {
  /*background-color: #fff;*/
  /*margin: 30px;*/
  /*border-radius: 20px;*/
  padding: 35px 35px 35px 35px;
  border-radius: 20px;
  background: #F3F5F7;
  box-shadow: 5px 5px 10px #e0e1e3,
  -5px -5px 10px #ffffff;
  margin-bottom: 30px;
}

.projectpost:hover .typeMark {
  filter: grayscale(50%);
  opacity: 40%;
}

.projectpost:hover {
  /*cursor: pointer;*/
  background-color: white;
}

.projectpost > .row {
  width: 100%;
  height: 100%;
  transition: .3s;
}

.projectpost * {
  margin: 0;
  padding: 0;
}

.maininfo {
  padding: 30px !important;
}

.bi-chat {
  opacity: 70%;
}

.maindescription {
  margin: 20px 20px 0px -10px !important;
  flex-wrap: inherit !important;
  flex-direction: column;
}

/*.projectpost {
  height: 300px;
}
*/

.typeMark {
    filter: grayscale(100%);
    opacity: 10%;
    margin: 7px !important;
    height: 50px !important;
    width: 50px !important;
    transition: .3s;
}

.pname {
  display: contents;
}

.pname0 {
  display: contents;
}

.sideinfo {
    height: 100%;
    padding: 10px !important;
}

.sideinfo h6 {
  margin: 5px !important;
  color: #8e908c;
}

.smallbanner img {
    margin: -30px 0 35px -30px;
    max-height: 100px;
    border-radius: 20px;
    width: 105.5%;
    object-fit: cover;
    height: 300px;
}

.commentButtonArea {
  margin-top: 30px;
  /*margin-left: auto !important;*/
  display: flex;
}

.interaction #comment-section {
  display: block;
}

.commentButtonArea p {
  align-self: center;
}

.smallbanner {
  margin: 0;
  padding: 0;
}

.description div {
  margin: 0;
  padding: 0;
}

.description {
  max-height: 200px;
  margin: 8px !important;
}

.icon {
  margin: 10px !important;
  margin-right: 15px !important;
}

.icon:hover {
  cursor: pointer;
}

.sideinfo .contributors {
  width: 40px !important;
  height: 40px !important;
  max-height: 40px !important;
  max-width: 40px !important;
  margin: 2px !important;
}

.iconlist {
  margin: 5px !important;
}

.iconlist svg {
  color: #cfd1cd;
}

.viewButton {
  padding: 3px 8px !important;
  /*margin-left: auto !important;*/
  height: 40px;
  width: 150px;
  border-color: rgba(108, 99, 255, .5);
}

.projectcase {
  margin-left: auto !important;
}

.viewButton svg {
  margin: 1px !important;
}

.myrow {
  margin: 15px 2px !important;
}

.sub-maindescription {
  display: flex;
}

.line {
  border: 1px solid rgba(130, 130, 130, 0.1);
  height: 200px;
}

.pname h5 {
  display: inline-block;
  width: max-content;
  margin: 0 5px 0 0;
}

.interaction {
  display: flex;
  align-items: flex-end;
  margin-top: 3% !important;
}

.likes-area {
  display: flex;
  align-items: center;
  transition: 0.1s;
}

.color {
  filter: grayscale(100%);
  opacity: 15%;
  transition: 0.1s;
}

.color:hover {
  fill: #6C63FF;
  filter: grayscale(0%);
  opacity: 100%;
}

.projectcontent {
  margin-right: 18px !important;
}

.small-profile-picture {
  border: solid 2px #6C63FF;
}

.description-container {
  height: 100%;
}

.description-container p {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
