<app-main-navbar></app-main-navbar>
<div class="container-style">
  <nav>
    <ul>
      <li class="item"><a [routerLink]="['/app-settings-profile']"><h5>PROFILE</h5></a></li>
      <li class="item"><a [routerLink]="['/app-settings-security']"><h5>SECURITY</h5></a></li>
    </ul>
  </nav>

  <div *ngIf="user" id="user-data-container" class="container mx-0 my-5">
    <div class="row">
      <div class="col-md-2">
        <img class="img-fluid rounded-lg z-depth-1-half" [src]="photoURL?photoURL:''" alt="">
      </div>
      <div *ngIf="!edit" id="col-md-3">
        <h2 *ngIf="firstName;">{{firstName + " " + lastName}}</h2>
        <p class="email">{{user.email}}</p>
        <div *ngIf="!emailDisabled" class="alert alert-danger">
          <p>{{user.emailVerified ? "Account not verified" : "Verified user"}}</p>
        </div>
      </div>

      <div *ngIf="edit" class="col-md-3">
        <div class="md-form form-group">
          <input mdInput mdValidate [(ngModel)]="firstName" id="input_fN" type="text" class="form-control" required>
          <label class="active" for="input_fN">Vorname</label>
        </div>

        <div class="md-form form-group">
          <input mdInput mdValidate [(ngModel)]="lastName" id="input_sN" type="text" placeholder="{{ lastName }}"
                 class="form-control" required>
          <label class="active" for="input_sN">Nachname</label>
        </div>
      </div>
      <div *ngIf="edit" class="col-md-3">
        <div class="md-form form-group">
          <input mdInput mdValidate class="form-control" type="text" id="input_email" placeholder="{{ user.email }}"
                 [disabled]="emailDisabled" required>
          <label class="active" for="input_email">Email</label>
          <small *ngIf="emailDisabled" id="emailHelp2" class="form-text text-muted">Email can not be modified if you are
            registered with Social Network.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 btn-group p-2 h-25">
        <button type="button" (click)="toggleEdit();"
                class="btn btn-primary shadow-none btn-rounded">{{ edit == false ? 'Bearbeiten' : 'Abbrechen' }}</button>
        <button type="button" (click)="updateFields();" class="btn btn-success shadow-none btn-rounded">Speichern
        </button>
      </div>
  </div>
</div>

</div>
