<app-main-navbar></app-main-navbar>
<div class="container-style">
  <nav>
    <ul>
      <li class="item"><a [routerLink]="['/app-settings-profile']"><h5>PROFILE</h5></a></li>
      <li class="item"><a [routerLink]="['/app-settings-security']"><h5>SECURITY</h5></a></li>
    </ul>
  </nav>

  <div *ngIf="user" id="user-data-container" class="container mx-0 my-5">
    <div class="row">
      <div class="col-md-2">
        <div class="view overlay">
          <img class="img-fluid rounded-lg z-depth-1-half" [src]="photoURL?photoURL:''" alt="profilePic">
          <div class="mask flex-center rgba-black-strong input-pic-wrapper">
            <label for="picUpload"> <i class="fa fa-images text-white"></i></label>
            <input (click)="fileUpload($event);" type="file" class="" id="picUpload">
          </div>
        </div>
        <div class="progress form-group p-1" *ngIf="progress > 0">
          <div class="progress-bar" role="progressbar" [style.width.%]="progress">
          </div>
        </div>
      </div>
      <div *ngIf="!edit" id="col-md-3">
        <h2 *ngIf="firstName;">{{firstName + " " + lastName}}</h2>
        <p class="email">{{user.email}}</p>
        <div *ngIf="!user.emailVerified" class="alert alert-danger">
          <p>"Account not verified"</p>
        </div>
        <div *ngIf="user.emailVerified" class="alert alert-success">
          <p class="align-item-center">Verified Account</p>
        </div>
      </div>

      <div *ngIf="edit" class="col-md-3">
        <mat-form-field class="my-form-field">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="firstName" (keydown)="changeValid = false" id="input_fN" type="text">
        </mat-form-field>

        <mat-form-field class="my-form-field">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="lastName" (keydown)="changeValid = false" id="input_sN" type="text">
        </mat-form-field>
      </div>
      <div *ngIf="edit" class="col-md-3">
        <div class="form-group">
          <mat-form-field class="my-form-field">
            <mat-label>Email</mat-label>
           <input matInput value="{{ user.email }}" [formControl]="emailFormControl" (change)="emailChange(); changeValid = false" [disabled]="emailDisabled" [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address.
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="edit && !emailDisabled" class="col-md-3">
        <mat-form-field class="my-form-field">
          <mat-label>Password</mat-label>
          <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" required>
          <mat-hint>Password required to change your data!</mat-hint>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>!
          </mat-error>
        </mat-form-field>

        <div [formGroup]="formGroup">
          <mat-form-field>
            <input matInput type="password" placeholder="New password" formControlName="newPassword" (keydown)="confirmPasswordActive = true" (input)="onPasswordInput()">
          </mat-form-field>

          <mat-form-field *ngIf="confirmPasswordActive">
            <input matInput type="password" placeholder="Confirm new password" formControlName="confirmPassword" (input)="onPasswordInput()">
            <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm your password</mat-error>
            <mat-error *ngIf="newPassword.invalid && !confirmPassword.hasError('required')">Passwords don't match</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="!edit" class="row">
      <div class="col-md-2 offset-md-10 btn-group p-2">
        <button type="button" (click)="toggleEdit();"
                class="btn btn-primary shadow-none btn-rounded">Edit
        </button>
      </div>
    </div>
    <div *ngIf="edit" class="row">
      <div class="col-md-3 btn-group p-2">
        <button type="button" class="btn shadow-none btn-rounded btn-danger" data-toggle="modal"
                data-target="#modalConfirmDelete">Delete account
        </button>
      </div>
      <div class="col-md-2 offset-md-7 btn-group p-2">
        <button type="button" (click)="toggleEdit();"
                class="btn btn-primary shadow-none btn-rounded">Cancel
        </button>
        <button *ngIf="edit" type="submit" [disabled]="!changeValid" (click)="updateFields();" class="btn btn-success shadow-none btn-rounded">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Delete account?</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-times fa-4x animated rotateIn"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a (click)="deleteAccount();" class="btn shadow-none btn-outline-danger">Yes</a>
        <a type="button" class="btn  btn-danger shadow-none" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalConfirmDelete-->

