
#peopleButton {
  background-image: url("../../../assets/icons/people.svg");
}

#forumButton {
  background-image: url("../../../assets/icons/message.svg");
}

#chatButton {
    background-image: url("../../../assets/icons/chat.svg");
}

.background-image-settings {
    background-repeat: no-repeat;
    background-size: contain;
}

#searchBar {
    background-image: url("https://img.favpng.com/10/4/11/computer-icons-search-box-button-clip-art-png-favpng-7TdWywgFBhJ2y81D9kE6nhjbT.jpg");
    padding-left: 30px;
    height: 65%;
    align-self: center;
    border-radius: 100px;
    border: none;
    margin-left: 200px;
    max-width: 400px;
}

#questionButton {
  background-image: url("../../../assets/icons/q.svg");
}

#messageButton {
  background-image: url("../../../assets/icons/talk.svg");
}

#projectButton {
  background-image: url("../../../assets/icons/pen.svg");
}

#plusButton {
    background-image: url("../../../assets/icons/plus.svg");
    height: 30px;
    width: 30px;
    z-index: 10;
}

#plusButton-container {
    width: 100%;
    display: grid;
    justify-self: center;
}

#sidebar-button-container {
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 35px);
    grid-gap: 20px;
    height: max-content;
    margin-top: 150px;
}

.top-100margin {
    margin-top: -100px !important;
}

#plusButton-container > * {
    margin-left: 1rem;
    transition: .25s;
    position: absolute;
}

#other-buttons-sidebar{
  margin-top: 10px;
}

.opacity-05 {
  opacity: 0.95;
}

.sidebar-button {
  margin-left: 1rem;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50px;
  background-color: #F3F4F6;
}

.link-text {
  visibility: hidden;
  color: #F3F4F6;
  margin-left: 0px;
  filter: grayscale(100%) opacity(0.7);
  transition: 300ms;
}

.home {
  color: #222;
}

.link-text:hover {
  filter: grayscale(0%) opacity(1);
}

.bubble {
  z-index: -4;
  position: absolute;
  background-image: url("../../../assets/icons/pointer.svg");
  top: 192px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 500ms;
}

.wings {
  z-index: -4;
  position: absolute;
  background-image: url("../../../assets/icons/pwings.svg");
  top: 192px;
  width: 150px;
  height: 150px;
  margin-left: -21px;
  transition: 200ms ease;
}

.button-image {
    width: 100%;
}

#directoryButton {
  background-image: url("../../../assets/icons/dir.svg");
}

#directoryButton:hover ~ .bubble {
  transform: translate(0px, 50px);
}

#houseButton {
    background-image: url("../../../assets/icons/house.svg");
    align: center;
}

#menuBar_top {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    z-index: 5;
    height: 40px;
}

#profilePicture{
    background-image: url("https://cdn.iconscout.com/icon/free/png-256/profile-199-436934.png");
}

#round {
    z-index: -1;
    left: 60px;
    top: 40px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    box-shadow: -15px -15px 0 0 #222;
    transition: transform 200ms ease;
}

.black-standard-color {
    background-color: #222;
    position: fixed;
    top: 0;
}

.hide {
    opacity: 0;
}

#settingsButton {
    justify-self: center;
    align-self: center;
    grid-column: last-col;
    margin: 0 5px;
}

.translateMessage {
    display: inline;
    transform: translate(28px, 35px);
}

.translateQuestion {
    display: inline;
    transform: translate(40px, 0px);
}

.translateProject {
    display: inline;
    transform: translate(28px, -35px);
}

#puffer-60-margin {
    height: 40px;
    width: 60px;
    grid-row: 1/2;
}

#settingsButton {
/*    background-image: url("https://image.flaticon.com/icons/png/512/40/40031.png");
    background-size: 25px;
    background-position: center;*/
}

#loggoutButton {
  background-image: url("https://image.flaticon.com/icons/svg/154/154348.svg");
  background-size: 25px;
  background-position: center;
}

#menuBar_left {
    width: 4rem;
    height: 100vh;
    transition: width 200ms ease;
}

#menuBar_left:hover {
  z-index: -10;
  width: 8rem;
}

#menuBar_left:hover .link-text {
  visibility: visible;
  display: block;
}

#menuBar_left:hover #round {
  transform: translate(68px, 0px);
}

#mobile-menu-icon-container hr{
    background-color: #F3F4F6;
    height: 2px;
    margin: 3px 0;
    padding: 0;
}

#mobile-menu-icon-container > *{
    width: 100%;
}


#mobile-menu-icon-container{
    height: 100%;
    cursor: pointer;
    padding: 0 8px;
    width: 60px;
    justify-items: center;
    align-items: center;
    grid-column: last-column;
    display: none;
}

.showMenu{
    margin-right: 0px !important;
}

#menuBar_top{
    overflow: hidden;
}

#menuBar_left:hover .wings {
  transform: translate(68px, 0px);
}

@media only screen and (max-width: 630px){

    #round{
        display: none;
    }

    #searchBar{
        margin:0 10px;
    }

    #settingsButton{
        display: none;
    }

    #mobile-menu-icon-container{
        display: grid;
    }

    #menuBar_left{
      z-index: -10;
      width: 100%;
        height: 50px;
        top: 92vh;
    }

    #sidebar-button-container {
        display: flex !important;
        margin-top: 0;
        justify-content: center;
        align-content: center;
    }

    #sidebar-button-container > *{
        height: 50px;
        width: 50px;
        background-color: rgba(255,255,255,0.4);
    }

    .sidebar-button{
        border-radius: 0;
    }

    #plusButton-container{
        display: none;
    }

    #profileButtonSideBar{
        /* display: none; */
    }

    #plusButton-container{
        width: unset;
    }
}
