
#peopleButton {
    background-image: url("https://www.pngitem.com/pimgs/m/524-5248250_2-people-icon-png-transparent-png.png");
}

#forumButton {
    background-image: url("https://banner2.cleanpng.com/20180701/qyx/kisspng-computer-icons-online-chat-symbol-livechat-faceboo-5b38900a08f788.7773230315304335460367.jpg");
}

#chatButton {
    background-image: url("https://www.pinclipart.com/picdir/middle/491-4917893_chat-icon-svg-png-icon-free-download-chat.png");
}

.background-image-settings {
    background-repeat: no-repeat;
    background-size: contain;
}

#searchBar {
    background-image: url("https://img.favpng.com/10/4/11/computer-icons-search-box-button-clip-art-png-favpng-7TdWywgFBhJ2y81D9kE6nhjbT.jpg");
    padding-left: 30px;
    height: 65%;
    align-self: center;
    border-radius: 100px;
    border: none;
    margin-left: 200px;
    max-width: 400px;
}

#questionButton {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png");
}

#messageButton {
    background-image: url("https://images.vexels.com/media/users/3/136808/isolated/preview/d3455a22af5f3ed7565fb5fb71bb8d43-send-message-icon-by-vexels.png");
}

#projectButton {
    background-image: url("https://img.icons8.com/carbon-copy/2x/pencil.png");
}

#plusButton {
    background-image: url("https://pluspng.com/img-png/free-png-plus-sign-plus-icon-512.png");
    z-index: 10;
}

#plusButton-container {
    width: 100%;
    display: grid;
    justify-self: center;
}

#sidebar-button-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    height: max-content;
    margin-top: 150px;
}

.top-100margin {
    margin-top: -100px !important;
}

.sidebar-button:hover {
    cursor: pointer;
}

#plusButton-container > * {
    left: 15px;
    transition: .25s;
    position: absolute;
}

#other-buttons-sidebar{
    margin-top: 10px;
}

.opacity-05 {
    opacity: 0.95;
}

.sidebar-button {
    justify-self: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
}

.button-image {
    width: 100%;
}

#directoryButton {
    background-image: url("https://cdn0.iconfinder.com/data/icons/iconico-3/1024/63.png");
}

#houseButton {
    background-image: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_home_48px-512.png");
}

#menuBar_top {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    z-index: 5;
    height: 40px;
}

#profilePicture{
    background-image: url("https://cdn.iconscout.com/icon/free/png-256/profile-199-436934.png");
}

#round {
    z-index: -1;
    left: 60px;
    top: 40px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    box-shadow: -15px -15px 0 0 #222;
}

.black-standard-color {
    background-color: #222;
    position: fixed;
    top: 0;
}

.hide {
    opacity: 0;
}

#settingsButton {
    justify-self: center;
    align-self: center;
    grid-column: last-col;
    margin: 0 5px;
}

.translateMessage {
    display: inline;
    transform: translate(28px, 35px);
}

.translateQuestion {
    display: inline;
    transform: translate(40px, 0px);
}

.translateProject {
    display: inline;
    transform: translate(28px, -35px);
}

#puffer-60-margin {
    height: 40px;
    width: 60px;
    grid-row: 1/2;
}

#settingsButton {
    background-image: url("https://image.flaticon.com/icons/png/512/40/40031.png");
    background-size: 25px;
    background-position: center;
}

#loggoutButton {
  background-image: url("https://image.flaticon.com/icons/svg/154/154348.svg");
  background-size: 25px;
  background-position: center;
}

#menuBar_left {
    width: 60px;
    height: 100%;
}

#mobile-menu-icon-container hr{
    background-color: #fff;
    height: 2px;
    margin: 3px 0;
    padding: 0;
}

#mobile-menu-icon-container > *{
    width: 100%;
}


#mobile-menu-icon-container{
    height: 100%;
    cursor: pointer;
    padding: 0 8px;
    width: 60px;
    justify-items: center;
    align-items: center;
    grid-column: last-column;
    display: none;
}

.showMenu{
    margin-right: 0px !important;
}

@media (max-width: 630px){

    #round{
        display: none;
    }

    #menuBar_left{
        transition: 0.5s;
        position: relative;
        float: right;
        margin-right: -60px;
        top:-60px !important;
    }

    #searchBar{
        margin:0 10px;
    }

    #settingsButton{
        display: none;
    }

    #mobile-menu-icon-container{
        display: grid;
    }
}
