<div id="menuBar_top" class="black-standard-color">

  <input class="standardBackgroundColor background-image-settings" placeholder="Search" type="search" id="searchBar">


  <div id="settingsButton" class="dropdown text-white">
    <button type="button" class="btn m-0 shadow-none" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-cog fa-lg text-white"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <h4 class="dropdown-header">Settings</h4>
      <a class="dropdown-item" [routerLink]="['/app-settings-profile']">Profile Settings</a>
      <a class="dropdown-item" [routerLink]="['/app-settings-security']">Security Settings</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="authService.SignOut()" [routerLink]="['/sign-in']">Logout</a>
    </div>
  </div>

  <div (click)="showMenuBar()" id="mobile-menu-icon-container">
    <div></div>
    <div></div>
    <hr>
    <hr>
    <hr>
    <div></div>
    <div></div>
  </div>
</div>

<div id="menuBar_left" [class]="menuClicked ? 'showMenu' : 'hideMenu'" [routerLink]="['/app-user-profile']"
     class="black-standard-color">
  <div id="round"></div>

  <div id="sidebar-button-container">

    <img [src]="photoURL" class="background-image-settings sidebar-button">

    <div id="plusButton-container">
      <div [class]="status ? 'translateProject' : 'hide'">
        <input type="button" class="background-image-settings sidebar-button animation-button3 opacity-05"
               id="projectButton" type="button" type="button" (click)="animateOn()">
        <p class="detail_info">create post</p>
      </div>
      <div [class]="status ? 'translateQuestion' : 'hide'">
        <input type="button" class="background-image-settings sidebar-button animation-button2 opacity-05"
               id="questionButton" type="button" (click)="animateOn()">
        <p class="detail_info">ask question</p>
      </div>
      <div [class]="status ? 'translateMessage' : 'hide'">
        <input type="button" class="background-image-settings sidebar-button animation-button1 opacity-05"
               id="messageButton" (click)="animateOn()" [routerLink]="'/new-project'">
        <p class="detail_info">create project</p>
      </div>
      <input (click)="animateOn()" class="background-image-settings sidebar-button" id="plusButton" type="button">
    </div>

    <input class="background-image-settings sidebar-button" id="houseButton" [routerLink]="'/dashboard'" type="button">
    <input class="background-image-settings sidebar-button" id="directoryButton" type="button">
    <input class="background-image-settings sidebar-button" id="peopleButton" type="button">
    <input class="background-image-settings sidebar-button" id="forumButton" type="button">
    <input class="background-image-settings sidebar-button" id="chatButton" type="button">

  </div>
</div>
