<div id="menuBar_top" class="black-standard-color">

  <mat-form-field id="searchBar" class="text-white search-bar" floatLabel="never">
    <mat-icon matSuffix>search</mat-icon>
    <input (keyup)="onkeyup($event)" class="" type="text"
         placeholder="Search"
         aria-label="Number"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let offset of results | async" [value]="offset.displayName">
        <a [routerLink]="['/app-user-profile', offset.uid]" [state]="{data: offset}"><small><img class="example-option-img rounded" [src]="offset.photoURL" height="25" aria-hidden ="true" alt="">   {{ offset.displayName }}</small></a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!--<div *ngIf="presence$ | async as presence" class="tag is-large text-white"
       [ngClass]="{
          'is-success':  presence.status  === 'online',
          'is-warning': presence.status  === 'away',
          'is-danger':  presence.status  === 'offline'
      }">
    {{ presence.status }}
  </div>-->

  <div class="btn-group notification">
    <button id="notificationDropdown" type="button" matBadge="{{this.notificationPosts.length}}" matBadgeColor="warn"
            class="btn m-0 shadow-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bell fa-lg text-white"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
      <div class="dropdown-header">
        <div style="display: inline-flex">Notifications</div>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="dropdown-divider"></div>
      <div *ngFor="let post of this.notificationPosts" class="dropdown-item d-inline-flex">
        <mat-card style="width: 100%">
          <mat-card-title>{{ post.postType.toUpperCase() }}{{post.postType === 'project' ? ' - ' + post.projectName : ''}}</mat-card-title>
          <mat-card-content>{{ post.post }}</mat-card-content>
        </mat-card>
        <button (click)="removeOneNotification($event)" type="button" class="close">
          <i id="{{ post.postId }}" class="fa fa-times"></i>
        </button>
      </div>
      <div class="dropdown-divider"></div>
      <div class="dropdown-item">
        <p (click)="removeAllNotification()">mark all as read</p>
      </div>
    </div>
  </div>

  <div class="btn-group settings">
    <button type="button" class="btn m-0 shadow-none" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-cog fa-lg text-white"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <h4 class="dropdown-header">Settings</h4>
      <a class="dropdown-item" [routerLink]="['/app-settings-profile']">Profile Settings</a>
      <a class="dropdown-item" [routerLink]="['/app-settings-security']">Security Settings</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="presence.signOut()" [routerLink]="['/sign-in']">Logout</a>
    </div>
  </div>


  <div id="menuBar_left" [class]="menuClicked ? 'showMenu' : 'hideMenu'"
       class="black-standard-color">
    <div id="round"></div>
    <div id="round_below"></div>
    <div id="round_r_b"></div>


    <div id="sidebar-button-container">
      <img [src]="photoURL" class="background-image-settings sidebar-button pro" id="profileButtonSideBar"
           [routerLink]="['/app-user-profile', this.userId]" [routerLinkActive]="['active']" alt="profile_pic">
      <span class="link-text prot"><strong>Profile</strong></span>

      <div id="plusButton-container" class="plus">
        <div [class]="status ? 'translateProject' : 'hide'">
          <input type="button" class="background-image-settings bar-button opacity-05"
                 id="projectButton"  (click)="animateOn(); createNewPost('post');">
          <p class="detail_info"><strong>create post</strong></p>
        </div>
        <div [class]="status ? 'translateQuestion' : 'hide'">
          <input type="button" class="background-image-settings bar-button opacity-05"
                 id="questionButton"  (click)="animateOn(); createNewPost('question');">
          <p class="detail_info"><strong>ask question</strong></p>
        </div>
        <div [class]="status ? 'translateMessage' : 'hide'">
          <input type="button" class="background-image-settings bar-button opacity-05"
                 id="messageButton" (click)="animateOn(); createNewPost('project');">
          <p class="detail_info"><strong>create project</strong></p>
        </div>

        <input (click)="animateOn()" class="background-image-settings sidebar-button" id="plusButton" type="button">
      </div>
      <span class="link-text plust" (click)="animateOn()"></span>

      <input class="background-image-settings sidebar-button home" id="houseButton" [routerLink]="['/dashboard']" [routerLinkActive]="['active']"
             type="button">
      <span class="link-text homet" [routerLink]="['/dashboard']"><strong>Home</strong></span>

      <input class="background-image-settings sidebar-button dir" id="directoryButton" [routerLink]="['/present-posts']" [routerLinkActive]="['active']"
             type="button">
      <span class="link-text dirt" [routerLink]="['/present-posts']" [routerLinkActive]="['active']"><strong>Directory</strong></span>

      <input class="background-image-settings sidebar-button pep" id="peopleButton" [routerLink]="['/people-page']" [routerLinkActive]="['active']" type="button">
      <span class="link-text pept" ><strong>People</strong></span>

<!--      <input class="background-image-settings sidebar-button for" id="forumButton" type="button">-->
<!--      <span class="link-text fort"><strong>Forum</strong></span>-->

      <input class="background-image-settings sidebar-button cha" id="chatButton" [routerLink]="['/info-page']" [routerLinkActive]="['active']" type="button">
      <span class="link-text chat"><strong>Info</strong></span>

      <div class="p_after"></div>
    </div>
  </div>
</div>
