<div id="menuBar_top" class="black-standard-color">

  <input class="standardBackgroundColor background-image-settings" placeholder="Search" type="search" id="searchBar">


  <div id="settingsButton" class="dropdown text-white">
    <button type="button" class="btn m-0 shadow-none" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-cog fa-lg text-white"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <h4 class="dropdown-header">Settings</h4>
      <a class="dropdown-item" [routerLink]="['/app-settings-profile']">Profile Settings</a>
      <a class="dropdown-item" [routerLink]="['/app-settings-security']">Security Settings</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="authService.SignOut()" [routerLink]="['/sign-in']">Logout</a>
    </div>
  </div>

  <!--
    <div (click)="showMenuBar()" id="mobile-menu-icon-container">
      <div></div>
      <div></div>
      <hr>
      <hr>
      <hr>
      <div></div>
      <div></div>
    </div>
  </div>
  -->


  <div id="menuBar_left" [class]="menuClicked ? 'showMenu' : 'hideMenu'" [routerLink]="['/app-user-profile']"
       class="black-standard-color">
    <div id="round"></div>

    <div id="sidebar-button-container">


      <img [src]="photoURL" class="background-image-settings sidebar-button pro" id="profileButtonSideBar"
           [routerLink]="['/app-user-profile']" [routerLinkActive]="['active']">
      <span class="link-text pro">Profile</span>

      <div id="plusButton-container" class="plus" [routerLinkActive]="['active']">
        <div [class]="status ? 'translateProject' : 'hide'">
          <input type="button" class="background-image-settings sidebar-button opacity-05"
                 id="projectButton"  (click)="animateOn()">
          <p class="detail_info">create post</p>
        </div>
        <div [class]="status ? 'translateQuestion' : 'hide'">
          <input type="button" class="background-image-settings sidebar-button opacity-05"
                 id="questionButton"  (click)="animateOn()">
          <p class="detail_info">ask question</p>
        </div>
        <div [class]="status ? 'translateMessage' : 'hide'">
          <input type="button" class="background-image-settings sidebar-button opacity-05"
                 id="messageButton" (click)="animateOn(); open();">
          <p class="detail_info">create project</p>
        </div>
        <input (click)="animateOn()" class="background-image-settings sidebar-button" id="plusButton" type="button">
      </div>
      <span class="link-text plus" (click)="animateOn()">Create</span>

      <input class="background-image-settings sidebar-button home" id="houseButton" [routerLink]="['/dashboard']" [routerLinkActive]="['active']"
             type="button">
      <span class="link-text home" [routerLink]="['/dashboard']">Home</span>

      <input class="background-image-settings sidebar-button dir" id="directoryButton" [routerLink]="['/project-page']" [routerLinkActive]="['active']"
             type="button">
      <span class="link-text dir" [routerLink]="['/project-page']" [routerLinkActive]="['active']">Directory</span>

      <input class="background-image-settings sidebar-button pep" id="peopleButton" type="button">
      <span class="link-text pep">People</span>

      <input class="background-image-settings sidebar-button for" id="forumButton" type="button">
      <span class="link-text for">Forum</span>

      <input class="background-image-settings sidebar-button cha" id="chatButton" type="button">
      <span class="link-text cha">Chat</span>

      <div class="p_before"></div>
      <div class="p_after"></div>
<!--<div class="menu">-->
<!--  <span>-->
<!--    <svg viewBox="220 0 300 300" class="whitething">-->

<!--      <path class="st0 anim" d="M122.1,110.7l-0.6-57.6h-7.8c0,25.9-17,47.7-40.5,55h-1.8c-23.1,0-41.9,18.8-41.9,41.9-->
<!--	c0,23.1,18.8,41.9,41.9,41.9h1.8c23.5,7.3,40.5,29.1,40.5,55h7.8l0.6-57.6H122L122.1,110.7L122.1,110.7z">-->
<!--        <animate-->
<!--          attributeName="d"-->
<!--          to="M270.4,108.1l-0.5-55h-7.8c0,25.8-17,47.7-40.4,55H71.4c-23.1,0-41.9,18.8-41.9,41.9s18.8,41.9,41.9,41.9h150.2-->
<!--	c23.4,7.3,40.4,29.2,40.4,55h7.8l0.5-55h0L270.4,108.1L270.4,108.1z"-->
<!--          dur="1s"-->
<!--          begin="mouseover"-->
<!--          fill="freeze"/>-->
<!--        <animate-->
<!--          attributeName="d"-->
<!--          to="M122.1,110.7l-0.6-57.6h-7.8c0,25.9-17,47.7-40.5,55h-1.8c-23.1,0-41.9,18.8-41.9,41.9-->
<!--	c0,23.1,18.8,41.9,41.9,41.9h1.8c23.5,7.3,40.5,29.1,40.5,55h7.8l0.6-57.6H122L122.1,110.7L122.1,110.7z"-->
<!--          dur="1s"-->
<!--          begin="mouseout"-->
<!--          fill="freeze"/>-->
<!--      </path>-->
<!--      <path class="st0 open" d="M270.4,108.1l-0.5-55h-7.8c0,25.8-17,47.7-40.4,55H71.4c-23.1,0-41.9,18.8-41.9,41.9s18.8,41.9,41.9,41.9h150.2-->
<!--	c23.4,7.3,40.4,29.2,40.4,55h7.8l0.5-55h0L270.4,108.1L270.4,108.1z" />-->
<!--    </svg>-->
<!--  </span>-->
<!--</div>-->


    </div>
  </div>
</div>
