.dir:hover~.p_after {
    top: 262px !important;
    transition: .5s ease;
}

#directoryButton.active  ~ .p_after {
  top: 262px;
}

.pep:hover~.p_after {
  top: 313px !important;
  transition: .5s ease;
}

#profileButtonSideBar:hover{
  cursor: pointer;
}

#peopleButton.active  ~ .p_after {
  top: 313px;
}

.for:hover~.p_after {
  top: 361px !important;
  transition: .5s ease;
}

#forumButton.active  ~ .p_after {
  top: 361px;
}

.cha:hover~.p_after {
  /*top: 413px !important;*/
  top: 361px !important;
  transition: .5s ease;
}

#chatButton.active  ~ .p_after {
  top: 361px;
}

.plus:hover~.p_after {
  top: 163px !important;
  transition: .5s ease;
}

#plusButton.active  ~ .p_after {
  top: 163px;
}

.pro:hover~.p_after {
  top: 113px !important;
  transition: .5s ease;
}

#profileButtonSideBar.active  ~ .p_after {
  top: 113px;
}

.home:hover~.p_after {
  top: 214px !important;
  transition: .5s ease;
}

#houseButton:hover ~ .homet {
  visibility: visible;
  color: #222;
}

#directoryButton:hover  ~ .dirt {
  visibility: visible;
  color: #222;
}

#peopleButton:hover  ~ .pept {
  visibility: visible;
  color: #222;
}

#forumButton:hover  ~ .fort {
  visibility: visible;
  color: #222;
}

#chatButton:hover  ~ .chat {
  visibility: visible;
  color: #222;
}

#profileButtonSideBar:hover  ~ .prot {
  visibility: visible;
  color: #222;
}

#plusButton-container:hover  ~ .plust, #plusButton-container.active  ~ .plust{
  visibility: visible;
  color: #222;
}

.link-text:hover, .link-text.active {
  color: #222;
}

#peopleButton {
  background-image: url("../../../assets/icons/people.svg");
}

#peopleButton:hover {
  filter: invert(0%);
}

#forumButton {
  /*filter: invert(90%);*/
  background-image: url("../../../assets/icons/message.svg");
}

#forumButton:hover {
  filter: invert(0%);
}

#chatButton {
    background-image: url("../../../assets/icons/info.svg");
}

#chatButton:hover,  #chatButton.active {
  filter: invert(0%);
}

.background-image-settings {
    background-repeat: no-repeat;
    background-size: contain;
}

#myproject .showBtnTechsdome {
  display: block;
}

.sidebar-button {
  filter: invert(90%);
}

#profileButtonSideBar{
  filter: invert(0%) !important;
  object-fit: cover;
}

#searchBar {
    grid-column: 6;
}

.mat-form-field-empty.mat-form-field-label {
  color: #cacaca;
}

.mat-form-field .mat-form-field-underline {
  background-color: #cacaca;
}

/*.bar-button:hover {*/
/*    border: 1px solid #0058FF !important;*/
/*}*/

/*.bar-button:hover{*/
/*    background-color: #e0e0e0;*/
/*}*/

#questionButton {
  background-image: url("../../../assets/icons/q.svg");
}

#questionButton:hover {
  background-image: url("../../../assets/icons/qu2.svg");
}

#messageButton {
  background-image: url("../../../assets/icons/talk.svg");
}

#messageButton:hover {
  background-image: url("../../../assets/icons/talk2.svg");
}

.detail_info {
  color: #0058FF;
  /*background-color: #0058FF;*/
}

/*#questionButton:hover ~ .detail_info{*/
/*    display: grid;*/
/*}*/

#projectButton {
  background-image: url("../../../assets/icons/pen.svg");
}

#projectButton:hover {
  background-image: url("../../../assets/icons/pen2.svg");
}

#plusButton {
    background-image: url("../../../assets/icons/plus.svg");
    height: 30px;
    width: 30px;
    z-index: 10;
}

#plusButton:hover, #plusButton.active {
  filter: invert(0%);
}

#plusButton-container {
    width: 100%;
    display: grid;
    justify-self: center;
}

#sidebar-button-container {
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 35px);
    grid-gap: 20px;
    height: max-content;
    margin-top: 150px;
}

.top-100margin {
    margin-top: -100px !important;
}

.mat-badge-content {
  width: 21px !important;
  height: 21px !important;
  display: grid;
  text-align: center;
  align-items: center;
  top: 5px !important;
  right: 1px !important;
}

#plusButton-container > * {
    margin-left: 1rem;
    transition: .25s;
    position: absolute;
}

#other-buttons-sidebar{
  margin-top: 10px;
}

.opacity-05 {
  opacity: 0.95;
}

.sidebar-button {
     margin-left: 1rem;
     width: 30px;
     height: 30px;
     border: none;
     border-radius: 50px;
     background: rgba(0, 0, 0, 0.0);
   }

.bar-button {
  margin-left: 1rem;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #e0e1e3,
  -5px -5px 10px #e0e1e3;
  transition: .1s;
}

.link-text {
  visibility: hidden;
  color: #F3F4F6;
  filter: grayscale(100%) opacity(0.7);
  transition: .5s ease;
}

.p_after {
  z-index: -4;
  position: absolute;
  background-image: url("../../../assets/icons/p_before.svg");
  top: 214px;
  left: 5px;
  width: 75px;
  height: 105px;
  border-radius: 50%;
  transition: 1s ease;
}

.button-image {
    width: 100%;
}

#directoryButton {
  background-image: url("../../../assets/icons/dir.svg");
}

#directoryButton:hover, #directoryButton.active {
  filter: invert(0%);
}

#houseButton {
    background-image: url("../../../assets/icons/house.svg");
    text-align: center;
}

#houseButton:hover, #houseButton.active {
  filter: invert(0%);
}

#menuBar_top {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(1, 1fr);
    z-index: 5;
    height: 55px;
}

#profilePicture{
    background-image: url("https://cdn.iconscout.com/icon/free/png-256/profile-199-436934.png");
}

#round {
    z-index: -1;
    left: 64px;
    top: 55px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    box-shadow: -15px -15px 0 0 #222;
    transition: transform 200ms ease;
}

#round_right {
  z-index: -8;
  right: 0%;
  top: 3.7%;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: 15px -15px 0 0 #222;
  transition: transform 200ms ease;
}

#round_below {
  z-index: -4;
  left: 3.35%;
  bottom: 0%;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: -15px 15px 0 0 #222;
  transition: transform 200ms ease;
}

#round_r_b {
  z-index: -4;
  right: 0%;
  bottom: 0%;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: 15px 15px 0 0 #222;
  transition: transform 200ms ease;
}

.black-standard-color {
    background-color: #222;
    position: fixed;
    top: 0;
}

.hide {
    opacity: 0;
}

.btn-menu-right {
  grid-column: last-col;
  justify-self: center;
  align-self: center;
  margin: 0 5px;
}

.notification{
  grid-column-start: 37;
  grid-column-end: auto;
}

.settings{
  grid-column-start: 39;
  grid-column-end: auto;
}

.translateMessage {
    display: inline;
    transform: translate(44px, 40px);
}

.translateQuestion {
    display: inline;
    transform: translate(56px, 0px);
}

.translateProject {
    display: inline;
    transform: translate(44px, -40px);
}

#puffer-60-margin {
    height: 40px;
    width: 60px;
    grid-row: 1/2;
}

#loggoutButton {
  background-image: url("https://image.flaticon.com/icons/svg/154/154348.svg");
  background-size: 25px;
  background-position: center;
}

#menuBar_left {
    width: 4rem;
    height: 100vh;
    transition: width 200ms ease;
}

#mobile-menu-icon-container hr{
    background-color: #F3F4F6;
    height: 2px;
    margin: 3px 0;
    padding: 0;
}

#mobile-menu-icon-container > *{
    width: 100%;
}


#mobile-menu-icon-container{
    height: 100%;
    cursor: pointer;
    padding: 0 8px;
    width: 60px;
    justify-items: center;
    align-items: center;
    grid-column: last-column;
    display: none;
}

.showMenu{
    margin-right: 0px !important;
}

#menuBar_top{
    /*
    overflow: hidden;                       // destory dropdown menue
    */
}

@media only screen and (max-width: 630px){

    #round{
        display: none;
    }

    #searchBar{
        margin:0 10px;
    }


    #mobile-menu-icon-container{
        display: grid;
    }

    #menuBar_left{
      z-index: -10;
      width: 100%;
        height: 50px;
        top: 92vh;
    }

    #sidebar-button-container {
        display: flex !important;
        margin-top: 0;
        justify-content: center;
        align-content: center;
    }

    #sidebar-button-container > *{
        height: 50px;
        width: 50px;
        background-color: rgba(255,255,255,0.4);
    }

    .sidebar-button{
        border-radius: 0;
    }

    #plusButton-container{
        display: none;
    }

    #profileButtonSideBar{
        /* display: none; */
    }

    #plusButton-container{
        width: unset;
    }
}
