@import url("./assets/bootstrap/css/bootstrap.min.css");




/* Will be overwritten by bootstrap reboot.css*/

/*body, html {
  width: 100%;
  height: 100%;
}

body body.page-top {
  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  color: #fff;
  background-color: #000;
}*/

.masthead {
  height: 100vh;
  background-image: url('./assets/img/intro-bg.jpg');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
}

@media (max-width: 575.98px) {
.display-1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.0;
}

  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
}

section {
  background-color: #000;
  color: #fff;
}

form > p {
  font-family: Lato, sans-serif;
  font-size: 44px;
}

form > div > label {
  color: #373a3b;
}

#about_pic {
height: 100vh;
}

#download {
  background-image:url('./assets/img/downloads-bg.jpg');
}

.btn {
  font-family: Lato, sans-serif;
  font-size: 17px;
  color: #fff;
}

.btn.btn-login, .btn.btn-register {
  width: 125px;
}

.btn.btn-style {
  background-color: #325DFF;
}

.btn.btn-outline-style {
  border: .2px solid #fff;
}

.btn.btn-default.btn-register {
  background-color: #000;
}

.btn.btn-rounded {
  border-radius: 35px;
}

.btn-group {
  padding: 0 10px 10px 10px;
}

/* --- Arrow Animation --- */
#arrow > .btn-circle {
  border: none;
}

#arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


/*.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    justify-content: center !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
*/
/**
----------------------------------------------------------
 */

.card {
  padding: 50px;
  background: #f5f5f5;
  box-shadow: 0 5px 5px 1px rgba(122,122,122, .5);
  margin: 20px 20px;
}

.btn.md-btn {
  background: #1b58cf;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 2px 1px 1px #999;
  transition: all .3s;
}

.btn.md-btn:active {
  background: #90b4fc;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 0px 0px 0px #999;
}

.md-input-group .md-messages {
  height: 1px;
  position: relative;
}

.md-input-group .md-message {
  opacity: 0;
  transition: transform .4s, opacity .2s;
  pointer-events: none;
  transform: translate3d(0, -24px, 0);
  font-size: 12px;
  display: inline-block;
}

.btn.btn-primary.btn-block {
  margin-top: 40px;
}

section form {
  min-height: 150px;
}


label.md-input-label {
  display: inline-block;
  pointer-events: none;
  height: 1em;
  max-width: 100%;
  font-weight: 300;
  font-size: 1em;
  transform: translate3d(0, 34px, 0);
  transition: all .3s;
  padding-left: 5px;
  margin-bottom: 0;
  color: rgba(0,0,0,.5);
}

.md-input.form-control {
  display: block;
  color: #000;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #9a9a9a;
  padding: 0;
  padding-left: 5px;
  padding-top: 12px;
  font-weight: 300;
}

.btn.md-btn {
  background: #1b58cf;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 2px 1px 1px #999;
  transition: all .3s;
}

.btn.md-btn:active {
  background: #90b4fc;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 0px 0px 0px #999;
}

.md-input-group .md-messages {
  height: 1px;
  position: relative;
}

.md-input-group .md-message {
  opacity: 0;
  transition: transform .4s, opacity .2s;
  pointer-events: none;
  transform: translate3d(0, -24px, 0);
  font-size: 12px;
  display: inline-block;
}

.btn.btn-primary.btn-block {
  margin-top: 40px;
}

section form {
  min-height: 150px;
}

#btn_login {
  border: 2px solid black;
  border-radius: 25px;
  border-radius: 10px;
}

#btn_register:hover {
  color: #212529;
  background-color: transparent;
  border-color: #FFFFFF;
}

#btn_login {
  color: #ffffff;
  background-color: #325DFF;
  border: 2px solid rgb(0,0,0);
  border-radius: 35px;
}

#btn_register {
  outline-color: #000000;
}

