@import url("./assets/bootstrap/css/bootstrap.min.css");


body body.page-top {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  color: #fff;
  background-color: #000;
}

.masthead {
  height: 100vh;
  background-image: url('./assets/img/intro-bg.jpg');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Helvetica Neue,Helvetica,Arial, sans-serif;
  font-weight:700;
  margin:0 0 35px;
  letter-spacing:1px;
  text-transform:uppercase
}
.navbar.solid {
  background-color: #490D40;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

p {
  font-family: Poppins, sans-serif;
}

#about_pic {
  background: url('./assets/img/student.jpg') center no-repeat;
  background-size: cover;
}

#about_pic > img {
  object-fit: cover;
}

@media (max-width: 1024px) {

  .masthead {
    padding: 20px 0;
  }

  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
}

form > p {
  font-family: Lato, sans-serif;
  font-size: 44px;
}

form > div > label {
  color: #373a3b;
}

.bg-grey {
  background-color: #424242;
}

@media (min-width: 1024px) {
  #about, #tech {
    height: 100vh;
  }
}

.bg-black {
  background-color: #000;
}

.img-responsive {
  width: 50%;
}

@media (max-width:767px)
{
  .img-responsive {
    width: 15%;
  }
}

.btn {
  font-family: Lato, sans-serif;
  font-size: 17px;
  color: #fff;
}

.btn.btn-login, .btn.btn-register {
  width: 125px;
}

.btn.btn-style {
  background-color: #325DFF;
}

.btn.btn-outline-style {
  border: .2px solid #fff;
}

.btn.btn-default.btn-register {
  background-color: #000;
}

.btn.btn-rounded {
  border-radius: 35px;
}

.btn-group {
  padding: 0 10px 10px 10px;
}

/* --- Arrow Animation --- */
.arrow > .btn-circle, .arrow-up > .btn-circle{
  border: none;
}

.arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrowDown 2s infinite;
  animation: arrowDown 2s infinite;
  box-sizing: border-box;
}

.arrow-up a span {
  position: absolute;
  top: 25px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-animation: arrowUp 2s infinite;
  animation: arrowUp 2s infinite;
  box-sizing: border-box;
}

/* --- Mobile Css ---*/

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes arrowDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@-webkit-keyframes arrowUp {
  0% {
    -webkit-transform: rotate(135deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(135deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(135deg) translate(0, 0);
  }
}

@keyframes arrowUp {
  0% {
    transform: rotate(135deg) translate(0, 0);
  }
  20% {
    transform: rotate(135deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(135deg) translate(0, 0);
  }
}

/* --- Footer ---*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



.card {
  padding: 50px;
  background: #f5f5f5;
  box-shadow: 0 5px 5px 1px rgba(122, 122, 122, .5);
  margin: 20px 20px;
}

.btn.md-btn {
  background: #1b58cf;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 2px 1px 1px #999;
  transition: all .3s;
}

.btn.md-btn:active {
  background: #90b4fc;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 0px 0px 0px #999;
}

.md-input-group .md-messages {
  height: 1px;
  position: relative;
}

.md-input-group .md-message {
  opacity: 0;
  transition: transform .4s, opacity .2s;
  pointer-events: none;
  transform: translate3d(0, -24px, 0);
  font-size: 12px;
  display: inline-block;
}

.btn.btn-primary.btn-block {
  margin-top: 40px;
}

section form {
  min-height: 150px;
}


label.md-input-label {
  display: inline-block;
  pointer-events: none;
  height: 1em;
  max-width: 100%;
  font-weight: 300;
  font-size: 1em;
  transform: translate3d(0, 34px, 0);
  transition: all .3s;
  padding-left: 5px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, .5);
}

.md-input.form-control {
  display: block;
  color: #000;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #9a9a9a;
  padding: 0;
  padding-left: 5px;
  padding-top: 12px;
  font-weight: 300;
}

.btn.md-btn {
  background: #1b58cf;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 2px 1px 1px #999;
  transition: all .3s;
}

.btn.md-btn:active {
  background: #90b4fc;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 0px 0px 0px #999;
}

.md-input-group .md-messages {
  height: 1px;
  position: relative;
}

.md-input-group .md-message {
  opacity: 0;
  transition: transform .4s, opacity .2s;
  pointer-events: none;
  transform: translate3d(0, -24px, 0);
  font-size: 12px;
  display: inline-block;
}

.btn.btn-primary.btn-block {
  margin-top: 40px;
}

section form {
  min-height: 150px;
}

#btn_login {
  border: 2px solid black;
  border-radius: 25px;
  border-radius: 10px;
}

#btn_register:hover {
  color: #212529;
  background-color: transparent;
  border-color: #FFFFFF;
}

#btn_login {
  color: #ffffff;
  background-color: #325DFF;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 35px;
}

#btn_register {
  outline-color: #000000;
}

