<nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav" style="width: 1920px;">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">Techsdome</a>
    <button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
            type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
            value="Menu"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto"></ul>
    </div>
  </div>
</nav>
<!-- Site Header -->
<header id="head" class="masthead">
  <div class="intro-body content-section d-md-flex h-md-100 align-items-center">
    <div id="login" class="col-md-6 p-0 h-md-100">
      <div class="text-white d-md-flex align-items-center h-100 p-5 justify-content-center">
        <form *ngIf="openMainLogin; else register">
          <p class="text-left">Welcome to <br>Techsdome</p>
          <div class="md-form form-group mt-5">
            <input mdInput mdValidate id="input_login_email" type="text" class="form-control" autofocus #email>
            <label for="input_login_email">E-mail</label>
          </div>
          <div class="md-form form-group mt-5">
            <input mdInput mdValidate id="input_login_passwd" type="password" class="form-control validate"
                   #userPassword>
            <label for="input_login_passwd" data-error="wrong" data-success="right">Password</label>
          </div>
          <div class="btn-group-justified" role="group" aria-label="Basic example">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-login btn-rounded btn-style"
                      (click)="authService.SignIn(email.value, userPassword.value)">
                Login
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-register btn-outline-style" (click)="toggleLoginRegister()">
                Register
              </button>
            </div>
          </div>
          <hr>
          <div id="socialBtnGroup" class="btn-group-justified">
            <div class="btn-group" role="group">
              <a (click)="authService.FacebookAuth()"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="btn-group" role="group">
              <a (click)="authService.GoogleAuth()"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <div class="btn-group" role="group">
              <a (click)="authService.GithubAuth()"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </form>
        <ng-template #register>
          <form>
            <p class="text-left">Welcome to <br>Techsdome</p>
            <div class="md-form form-group mt-5">
              <input id="input_fN" type="text" class="form-control" [(ngModel)]="firstname" name="fName" required>
              <label for="input_fN">First Name</label>
            </div>
            <div class="md-form form-group mt-5">
              <input id="input_lN" type="text" class="form-control" [(ngModel)]="lastname" name="lName" required>
              <label for="input_lN">Last Name</label>
            </div>
            <div class="md-form form-group mt-5">
              <input id="input_register_email" type="email" class="form-control" #userEmail>
              <label for="input_register_email">E-mail</label>
            </div>
            <div class="md-form form-group mt-5">
              <input id="input_re_email" type="email" class="form-control" #repeatUserEmail>
              <label for="input_re_email">Repeat E-mail</label>
            </div>
            <div class="md-form form-group mt-5">
              <input id="input_register__passwd" type="password" class="form-control validate" #userPwd>
              <label for="input_register__passwd" data-error="wrong" data-success="right">Password</label>
            </div>
            <div class="md-form form-group mt-5">
              <input id="input_re_passwd" type="password" class="form-control validate" #repeatUserPwd>
              <label for="input_re_passwd" data-error="wrong" data-success="right">Repeat Password</label>
            </div>
            <div class="btn-group-justified" role="group" aria-label="Basic example">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-login btn-rounded btn-style"
                        (click)="authService.SignUp(userEmail.value, userPwd.value); authService.setFirstName(firstname); authService.setLastName(lastname);">
                  Register
                </button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-register btn-outline-style" (click)="toggleLoginRegister()">Back
                </button>
              </div>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
    <div class="col-md-6 p-0 h-md-75">
      <div class="d-md-flex align-items-center h-md-100 p-5 text-center justify-content-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="display-3">Techsdome</h1>
              <p class="intro-text" style="font-family: Poppins, sans-serif;font-size: 20px;">A website to present your
                projects to the World.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-table-row arrow">
    <a [ngx-scroll-to]="'#about'" class="btn btn-link btn-circle" role="button">
      <span></span>
    </a>
  </div>
</header>
<!-- End Header -->
<section id="about" class="d-md-flex h-md-100 text-center bg-white">
  <div class="col-md-6 p-0 h-md-100 text-black">
    <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Techsdome</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
              diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
              et accusam et</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about_pic" class="col-md-6 h-md-100 "></div>
</section>
<section id="tech" class="d-md-flex h-md-100 text-center bg-grey">
  <div class="col-md-6 p-0 h-md-100">
    <div class="row mb-4 mx-5 mt-4 justify-content-center align-items-center">
      <div class="col-md-4 mb-4">
        <img class="img-fluid img-responsive" src="./assets/home/Facebook.svg" alt="pic">
      </div>

      <div class="col-md-4 mb-4">
        <img class="img-fluid img-responsive" src="./assets/home/Google.svg" alt="pic">
      </div>

      <div class="col-md-4 mb-4">
        <img class="img-fluid img-responsive" src="./assets/home/Twitter.svg" alt="pic">
      </div>

      <div class="col-md-4 mb-4">
        <img class="img-fluid img-responsive" src="./assets/home/Angular.svg" alt="pic">
      </div>

      <div class="col-md-4 mb-4">
        <div class="flex-center">
          <img class="img-fluid img-responsive" src="./assets/home/Github.svg" alt="pic">
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <img class="img-fluid img-responsive" src="./assets/home/AdobeXD.svg" alt="pic">
      </div>
    </div>
  </div>
  <div class="col-md-6 p-0 h-md-100 bg-white text-black">
    <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Techsdome</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
              diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
              et accusam et</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="content-section text-center bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-white">
        <h2>Contact us</h2>
        <p>Feel free to leave comments...</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">&nbsp;<button class="btn btn-outline-style" type="button"><i
            class="fab fa-google-plus-g fa-fw"></i><span class="network-name">&nbsp; Google+</span></button>
          </li>
          <li class="list-inline-item">&nbsp;<button class="btn btn-outline-style" type="button"><i
            class="fab fa-twitter fa-fw"></i><span class="network-name">&nbsp;Twitter</span></button>
          </li>
          <li class="list-inline-item">&nbsp;<button class="btn btn-outline-style" type="button"><i
            class="fab fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bg-black text-center">
  <div class="row">
    <div class="col-lg-8 mx-auto arrow-up">
        <a [ngx-scroll-to]="'#head'" class="btn btn-link btn-circle" role="button">
          <span></span>
        </a>
    </div>
  </div>
</section>
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#">C</a></li>
          <li><a href="#">UI Design</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">Java</a></li>
          <li><a href="#">Android</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Contribute</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">Techsdome</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End footer -->


