<div id="bg">
  <div class="container-fluid" id="c-1">
    <div class="row justify-content-start" id="banner">
      <div id="bannerpic" class="col-12">
        <img alt="banner" height="359" src="assets/20180726_Budapest_23.jpg" width="1920">
      </div>
    </div>
    <div id="content">
      <div id="headline" class="row justify-content-between">
        <div class="col-lg-3 col-sm-5">
          <h1> Project Alpha </h1>
        </div>
        <div id="interact-button" class="col-lg-3 col-sm-5">
          <button type="submit" id="follow"> Follow</button>
          <button type="submit" id="like"> Like</button>
          <button type="submit" id="Share"> Share</button>
        </div>
      </div>
      <div id="description" class="col-8">
        <div class="row">
          <h2><a href="#">DESCRIPTION</a></h2>
          <h2><a href="#"> DEVLOG </a></h2>
          <h2><a href="#"> ROADMAP </a></h2>
          <h2><a href="#"> WIKI </a></h2>
          <h2><a href="#"> DISCUSSION </a></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<app-main-navbar></app-main-navbar>
