img {
  width: 100%;
  height: auto;
}
#bannerpic {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

* {
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
}

#banner {
  width: 100%;
  margin: 0;
  padding: 0;
}

#banner img {
  border-radius: 20px;
}

#banner .row {
  margin:0;
}

#c-1 {
  background-color: #fff6ff;
  height: 100vw;
  border-radius: 20px;
  padding: 0;
  margin: 0;
}

#bg {
  background-color: #bdc3c6;
  padding: 100px 40px 20px 120px;
  width: 100vw;
  height: 100vh;
}
#headline {
  margin: 0;
  padding: 0;
}

#headline div {
  margin: 0;
  padding: 0;
}

#headline h1 {
  margin-left: 15px;
}

#interact-button button {
  margin: 10px;
}

#description {
  margin-top: 20px;
  border-bottom: 2px solid #d3d9dc;
}

#description h2 {
  font-size: 14px;
  margin: 10px;
}

#description h2 a {
  color: #808080;
}

#description h2 a:hover {
  color: #afafaf;
  text-decoration: none;
}

#content {
  margin: 40px;
}
