.dropzone {
  margin: 5px !important;
  width:  60%;
  height: 100%;
  border-radius: 5px;
}
.dropzone div {
  align-self: center;
  display: block;
}

.addPictureButton {
  border: none;
  background: none;
}

#mydrop {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.dropzone div {
  padding: 0;
}

.addPicture {
  color: #8e908c;
}

.hovering {
   /*border: 2px solid #f16624;*/
  background-color: #ebebeb;
   color: #616161 !important;
 }

.file-label {
  font-size: 1.2em;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

#myuploads {

}

.fas {
  width: 50px;
}
