<app-main-navbar></app-main-navbar>
<div id="all-posts-container">
  <app-profile-menu (activeMenuItemChange)="changeMenuItem($event)" [activeMenuItem]="this.activeMenu" (activeFilterChange)="changeFilterType($event)"></app-profile-menu>

  <app-user-data [searchedUser]="userObject" ></app-user-data>

  <mat-divider class="userData-divider"></mat-divider>

  <div id="user-profile-posts-container container">
    <div class="row">
      <app-show-projects class="col-md-10" *ngFor="let post of posts" [allPostsObject]="post"></app-show-projects>
    </div>
  </div>
</div>
