#app-parting-line-container {
    margin-top: 30px;
}

#user-profile-posts-container {
    /*margin-left: 175px;*/
  width: 80%;
}

.stuff {
  width: 20%;
}

#all-posts-container{
    padding: 100px 150px;
}

.userData-divider{
  margin-top: 30px;
}

@media only screen and (max-width: 630px) {
    #user-profile-container {
        width: 95%;
    }
}
