#app-parting-line-container {
    margin-top: 30px;
}

#user-profile-posts-container {
    margin-left: 175px;
}

#all-posts-container{
    padding: 100px 150px;
}

@media only screen and (max-width: 630px) {
    #user-profile-container {
        width: 95%;
    }
}