<app-main-navbar></app-main-navbar>
<div id="all-posts-container">
  <app-profile-menu (activeMenuItemChange)="changeMenuItem($event)" [activeMenuItem]="this.activeMenu" (activeFilterChange)="changeFilterType($event)"></app-profile-menu>
  <app-user-data [searchedUser]="userObject"></app-user-data>
  <div id="user-profile-posts-container">
    <!--<app-show-post [searchedUser]="this.userObject"></app-show-post>-->

    <app-show-projects *ngFor="let post of posts" [allPostsObject]="post"></app-show-projects>

  </div>
</div>
