
*{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


#user-data-container{
    //background-color: rgba(0,0,0,0.3);
    display: flex;
}

.profile-picutre{
    height: 100%;
}

#text-content{
    width: 100%;
}

#user-header{
    display: grid;
    grid-auto-flow: column;
}


.vertical-line{
}

.email{
    justify-self: end;
    align-self: end;
}

.profile-picutre{
    border-radius: 10px;
    background-color: #eee;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: -3px 3px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 3px 4px 1px rgba(0,0,0,0.1);
    box-shadow: -3px 3px 4px 1px rgba(0,0,0,0.1);
}

#text-content p{
    margin: 0;
}

.smallButton{
    background-color: rgba(0,0,0,0);
    border-radius: 50px;
    border: solid 2px #a6b0bf;
    transition: 0.1s;
    width: 30px;
    padding: 3px;
}

.skillDeleteButton{
    margin: -5px 10px 0 -25px;
    width: 15px;
    transform: rotate(45deg);
}

.skillDeleteButton:hover{
   cursor: pointer;
}

.button:hover{
    cursor: pointer;
}

.skillInputButton:hover{
    cursor: inherit !important;
}

.skillInputButton{
    padding-right: 25px;
}


.roundButton{
    border-radius: 100px;
}

.smallButton:hover{
    background-color: rgba(0,0,0,0.1);
}


#text-content {
    margin-left: 20px;
}


#skills-container input{
    border-radius: 100px;
    border: none;
    background-color: #0058ff;
    color: #fff;
    margin: 2px 3px;
}

#skills-container{
    max-width: 300px;
}

#skills-container li{
    display: inline;
}

#user-data-container > *{
    margin: 0 10px;
}

#image-container p{
    text-align: center;
}

hr{
    margin: 3px 0 5px 0;
    width: 100%;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    display: flex;
}

.line{
    border: 1px solid rgba(130, 130, 130, 0.1);
}