
*{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.profile-picutre{
    height: 100%;
}

#text-content{
    display: inline;
}

.profile-picutre{
    border-radius: 10px;
    background-color: #abfe8b;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(8,104,172,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(8,104,172,1);
    box-shadow: 0px 0px 4px 1px rgba(8,104,172,1);
}

#text-content p{
    margin: 0;
}

hr{
    margin: 3px 0 5px 0;
    width: 100%;
}

#text-content {
    margin-left: 20px;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

#user-data-container{
    background-color: rgba(0,0,0,0.3);
}

#skills-container input{
    border-radius: 100px;
    border: none;
    width: 50px;
    background-color: #0058ff;
    color: #fff;
    margin: 2px 3px;
}

#user-data-container > *{
    margin: 0 10px;
}