/*for profile menu*/

ol, ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  vertical-align: middle;
}

button {
  margin-left: auto;
}

.filter {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  border: solid 2px #a6b0bf;
  padding: 2px 30px 0px 30px;
  margin: 10px 0px 10px auto;
}

a:hover, a:focus, a:active {
  color: #999;
  text-decoration: none;
}

nav{
  border-bottom: 3px solid rgba(0,0,0,0.1);
  flex-direction: row;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

a {
  padding: 14px 12px;
  text-decoration: none;
  position: relative;
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
  color: #000;
}
a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
  background-color: #000;
}
a:hover::before, a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/*now all*/

*{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


#user-data-container{
    //background-color: rgba(0,0,0,0.3);
    display: flex;
}

#text-content{
    width: 100%;
}

#user-header{
    display: grid;
    grid-auto-flow: column;
}


.vertical-line{
}

.email{
    justify-self: end;
    align-self: end;
}

.profile-picutre{
    border-radius: 10px;
    background-color: #eee;
    width: 150px;
    height: 150px;
}

#text-content p{
    margin: 0;
}


.skillDeleteButton{
    margin: -5px 10px 0 -25px;
    width: 15px;
    transform: rotate(45deg);
}

.skillDeleteButton:hover{
   cursor: pointer;
}

.skillInputButton:hover{
    cursor: inherit !important;
}

.skillInputButton{
    padding-right: 25px;
}


#text-content {
    margin-left: 20px;
}


#skills-container input{
    border-radius: 100px;
    border: none;
    background-color: #0058ff;
    color: #fff;
    margin: 2px 3px;
}

#skills-container{
    max-width: 300px;
}

#skills-container li{
    display: inline;
}

#user-data-container > *{
    margin: 0 10px;
}

#image-container p{
    text-align: center;
}

hr{
    margin: 3px 0 5px 0;
    width: 100%;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    display: flex;
}

.line{
    border: 1px solid rgba(130, 130, 130, 0.1);
}

