<div *ngIf="user;" id="user-data-container" class="flex">
    <div id="image-container">
        <li>
            <img class="profile-picutre image-shadow" [src]="photoURL?photoURL:'https://api-magazin.single.de/uploads/media/blog/0001/01/thumb_423_blog_big.jpeg'" alt="">
        </li>
    </div>
    <div id="text-content">
        <div id="user-header">
            <h2 *ngIf="displayName;" style="display: inline-block">{{ displayName }}</h2>
          <a href="mailto:{{email}}" class="email"></a>
        </div>
        <hr class="line">
      <p style="text-transform: uppercase; color: #8e908c; font-weight: 500">{{job}}</p>

        <br>
        <app-inputfield [searchedUser]="this.searchedUser"></app-inputfield>
    </div>
    <div class="vertical-line line"></div>
    <div id="skills-container">
        <h2>Skills</h2>
        <hr class="line">
        <li *ngFor="let skill of skills">
            <input class="skillInputButton" type="button" [value]="skill">
            <img *ngIf="!searchedUser" class="skillDeleteButton" src="../../../assets/icons/delete.svg" alt="delete" (click)="deleteSkillElement($event)">
        </li>
        <input *ngIf="!searchedUser" [ngClass] = "edit?'showBtnTechsdome':'hideBtnTechsdome'" [(ngModel)]="skill" class="skillInput" type="text" placeholder="e.g. Cooking ..">
        <img *ngIf="!searchedUser" [ngClass] = "edit?'hideBtnTechsdome':'showBtnTechsdome'" class="createSkillButton boderButton smallButton button transition02s" (click)="editToggle()" src="https://pluspng.com/img-png/free-png-plus-sign-plus-icon-512.png" alt="edit text">
        <br>
        <button [ngClass] = "edit?'showBtnTechsdome':'hideBtnTechsdome'" class="saveDataButton boderButton transition02s" (click)="editToggle(); saveSkill();">Save</button>
        <button [ngClass] = "edit?'showBtnTechsdome':'hideBtnTechsdome'" class="saveDataButton boderButton transition02s" (click)="editToggle();">Dismiss</button>
    </div>
</div>

