
*{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


#user-data-container{
    //background-color: rgba(0,0,0,0.3);
}

.profile-picutre{
    height: 100%;
}

#text-content{
    width: 100%;
}

#user-header{
    display: grid;
    grid-auto-flow: column;
}


.vertical-line{
}

.email{
    justify-self: end;
    align-self: end;
}

.profile-picutre{
    border-radius: 10px;
    background-color: #abfe8b;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(8,104,172,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(8,104,172,1);
    box-shadow: 0px 0px 4px 1px rgba(8,104,172,1);
}

#text-content p{
    margin: 0;
}


#text-content {
    margin-left: 20px;
}


#skills-container input{
    border-radius: 100px;
    border: none;
    background-color: #0058ff;
    color: #fff;
    margin: 2px 3px;
}

#skills-container{
    max-width: 300px;
}

#skills-container li{
    display: inline;
}

#user-data-container > *{
    margin: 0 10px;
}

#image-container p{
    text-align: center;
}

hr{
    margin: 3px 0 5px 0;
    width: 100%;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

.line{
    border: 1px solid rgba(0, 0, 0, 0.1);
}