/*for profile menu*/

ol, ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  vertical-align: middle;
}

button {
  margin-left: auto;
}

.filter {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  border: solid 2px #a6b0bf;
  padding: 2px 30px 0px 30px;
  margin: 10px 0px 10px auto;
}

a:hover, a:focus, a:active {
  color: #999;
  text-decoration: none;
}

nav{
  border-bottom: 3px solid rgba(0,0,0,0.1);
  flex-direction: row;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

a {
  padding: 14px 12px;
  text-decoration: none;
  position: relative;
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
  color: #000;
}
a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
  background-color: #000;
}
a:hover::before, a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/*now all*/

*{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


#user-data-container{
    display: flex;
}

#text-content{
    width: 100%;
}

#user-header{
    display: grid;
    grid-auto-flow: column;
}

#user-header h2 {
  text-transform: uppercase;
  color: rgb(168, 168, 168);
  font-size: 24px;
}

.job-edit-button {
  margin: 0 0 5px 10px
}

.email{
  background-image: url("../../../assets/icons/email.svg");
  width: 35px;
  height: 35px;
    justify-self: end;
    align-self: end;
  filter: grayscale(100%);
  opacity: 50%;
  border: none;
  transition: 0.3s;
}

.email:hover {
  filter: grayscale(0%);
  opacity: 100%;
  cursor: pointer;
}

.profile-picutre{
    border-radius: 10px;
    background-color: #eee;
    width: 150px;
    height: 150px;
    border: solid 2px rgba(0, 88, 255, 0.5);
  object-fit: cover;
}

.text-content p {
    margin: 0;
}

.text-content {

}

#skills-container #plusButton {
  margin: 0 0 10px 0;
}

#job-input {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 3px 10px;
  color: rgb(168, 168, 168);
  text-transform: uppercase;
}

.job-title {
  text-transform: uppercase;
  color: rgb(168, 168, 168);
  margin: 0 5px 20px 0;
}

.skillDeleteButton{
    padding: 5px;
    margin: 7px 10px 0 -35px;
    width: 25px;
    fill: #fff;
    transform: rotate(45deg);
    position: absolute;
}

.skillDeleteButton:hover{
   cursor: pointer;
}

.skillInputButton:hover{
    cursor: inherit !important;
}

.skillInputButton{
    position: relative;
    padding-right: 25px;
}


#skills-container input{
    border-radius: 100px;
    border: none;
    background-color: #0058FF;
    color: #fff;
    padding: 5px 40px 5px 20px;
    margin: 2px 3px;
}

#skills-container{
    width: 30%;
}

#skills-container li{
    display: inline;
}

#skills-container h2 {
  text-transform: uppercase;
  color: rgb(168, 168, 168);
  font-size: 22px;
  margin: 3px 0 9px 0;
  font-weight: 400;
}

#user-data-container > *{
    margin: 0 10px;
}

#user-data-container #image-container {
  margin: 0;
}

#text-content {
  margin: 0 20px !important;
  box-sizing: border-box;
}

hr{
    margin: 3px 0 5px 0;
    width: 100%;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    display: flex;
}

.line{
    border: 1px solid rgba(130, 130, 130, 0.1);
}

#plusButton {
  background-image: url("../../../assets/icons/plus.svg");
  height: 30px;
  width: 30px;
  cursor: pointer;
}

