@keyframes popout {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

.dialog {
  bottom: 5.5rem;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);*/
  box-shadow: 5px 5px 10px #e0e1e3,
  -5px -5px 10px #e0e1e3;
  width: 300px;
  margin: 0px 120px 120px -120px;
  visibility: hidden;
  position: absolute;
  /*background: inherit;*/
}

/*.dialog:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  background: inherit;*/
/*  border-radius: 20px;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);*/
/*}*/


.context:hover .dialog {
  visibility: visible;
  animation: popout 0.7s ease;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: relative;
  top: .6rem;
  left: 5em;
}

.dialog li {
  padding: 30px;
  color: #222;
}


/*now the important stuff*/


.content {
  margin-top: 100px;
  position: relative;
  justify-content: center;
  /*display: flex;*/
  /*flex-direction: row;*/
}

.intro-text {
  margin-top: 5px;
  margin-left: 15%;
}

.context {
  margin: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.context:hover {
  cursor: pointer;
}

.context:hover .canvas {
  transform: scale(1.2);
  filter: opacity(100%);
}

.context:hover .teaser_text {
  color: #0058FF;
}

.teaser_text {
  margin-top: 30px;
  transition: 0.3s;
}

.canvas {
  height: 100px;
  width: 100px;
  background-size: 100px;
  transition: 0.3s;
  filter: opacity(80%);
}

.content .row {
  justify-content: center;
}

.ideas {
  background-image: url("../../../../assets/icons/project.svg");
}

.update {
  background-image: url("../../../../assets/icons/update.svg");
}

.inspire {
  background-image: url("../../../../assets/icons/inspire.svg");
}

.connect {
  background-image: url("../../../../assets/icons/connect.svg");
}

.informed {
  background-image: url("../../../../assets/icons/informed.svg");
}

/*.meaning {*/
/*  position: relative;*/
/*  padding: 35px 10px 20px 35px;*/
/*  border-radius: 20px;*/
/*  background: #fff;*/
/*  transition: 0.1s;*/
/*}*/
