  <div class="row">
    <div *ngFor="let mem of this.tmpAllContributors">
      <div class="col-3 border rounded-circle view overlay zoom contributors">
        <img [routerLink]="['/app-user-profile', mem.uid]" style="cursor: pointer" class="contributor img-fluid" src="{{mem.photoURL}}" alt="contributer"
             height="514"
             width="913"/>
      </div>
<!--      <a [routerLink]="['/app-user-profile', mem.uid]" [state]="{data: mem}"><h6 class="username text-center"> {{ mem.displayName }}</h6></a>-->
    </div>
  </div>
