.theprojects {
  height: 100px;
  width: 100px;
}

canvas{
  left:-50%; 
  top:-75%;
  position: fixed;
}

.regler{
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
  width: 250px;
}

.theprojects img {
  width: 100%;
  height: 100%;
}

#maindiv {
  margin-top: 60px;
  margin-left: 175px;
  height: 80vh;
}

#maindiv .row {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.4);
}

.theprojects:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#maindiv h3 {
  color: #8e908c;
}

#noprojects {
  width: 100%;
  height: 100%;
}
