<app-main-navbar></app-main-navbar>

  <div class="content">

  <div class="d-md-flex align-items-center h-md-100 p-5 text-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div style="display: flex">
          <img style="height: 100px; width: 100px" id="logo" src="../../../assets/icons/logo.svg">
          <h1 class="display-3" style="font-weight: 500; margin-left: 10px">Techsdome</h1>
          </div>
          <p class="intro-text" style="font-family: Poppins, sans-serif;font-size: 20px; width: 600px">Present your
            projects to the World!</p>
        </div>
      </div>
    </div>
  </div>

</div>


