ol, ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    vertical-align: middle;
}

a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}

nav{
    border-bottom: 3px solid rgba(0,0,0,0.1);
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

a {
    padding: 14px 12px;
    text-decoration: none;
    position: relative;
    display: block;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

@media only screen and (max-width: 630px){

    #profile-menu-bar{
        display: none !important;
    }
}
