ol, ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    vertical-align: middle;
}

li a {
  color: #b7b7b7;
}

button {
  margin-left: auto;
}

.filter {
  /*border-radius: 100px;*/
  border: solid 2px rgba(0,0,0,0.1);
  padding: 5px 30px 5px 30px;
  margin: 10px 0px 10px auto;
  border-radius: 10px;
  background: #F3F5F7;
  /*box-shadow:  5px 5px 10px #e0e1e3,*/
  /*-5px -5px 10px #ffffff;*/
}

a:hover, a:focus, a:active {
    color: #222222;
    text-decoration: none;
}


.active > a{
  color: #222222;
}

nav{
    border-bottom: 3px solid rgba(0,0,0,0.1);
    flex-direction: row;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

a {
    padding: 14px 12px;
    text-decoration: none;
    position: relative;
    display: block;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -9px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.active a::before {
  transform-origin: left top;
  transform: scale(1, 1);
}


@media only screen and (max-width: 630px){

    #profile-menu-bar{
        display: none !important;
    }
}
