.sug-project-container {
  margin: 30px;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
}

.sug-project-container .project-container {
  margin: 10px;
  padding: 0;
}

.sug-project-container .project-container img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.sug-project-container .banner-wrapper {
  margin: 0;
  padding: 0;
}

.sug-project-container h3 {
  font-size: 20px;
  color: #b7b7b7;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 0 15px 0;
}

.sug-project-container .title {
  font-size: 18px;
  color: #b7b7b7;
  margin: 5px 0;
  display: block;
}

.sug-project-container .description-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.sug-project-container .content {
  padding: 0;
  margin: 10px 0 20px 0;
}

.sug-project-container .description {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.sug-project-container .viewButton {
  margin: 15px 0;
  text-align: center;
}

.sug-project-container:hover {
  background-color: white;
  box-shadow: 5px 5px 10px #e0e1e3,
  -5px -5px 10px #ffffff;
}
