<ul>
    <li>
    <div class="post-container">
        <img [src]="postPhotoUrl" alt="profil picture" class="small-profile-picture image-shadow">
        <div class="post">
            <h4>{{postDisplayName}} posted:</h4>
            <p><strong>{{postDate}}</strong> | {{postHour}}:{{postMinute}}, {{postSecond}} seconds</p>
            <p>{{postMessage}}</p>
            <button class="boderButton button" (click)="openComment()">Comment</button>
            <div [ngClass] = "edit?'showBtnTechsdome':'hideBtnTechsdome'">
                <textarea name="comment" id="comment" class="commentField" cols="30" rows="10"></textarea>
                <button class="boderButton button" (click)="openComment()">Save</button>
            </div>
        </div>
    </div>
        <app-parting-line></app-parting-line>
    </li>
</ul>