@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");

/* You can add global styles to this file, and also import other style files */

.container-style {
  margin: 100px auto;
  width: 80%;
}

.standardBackgroundColor {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

html, body {
  height: 100%;
}

.standard-background-color{
    background-color: #f3f5f7;
}

body {
    margin: 0;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}


.btn.btn-rounded {
  border-radius: 35px !important;
}

.flex{
    display: flex;
}

.transition02s{
    transition: 0.2s;
}

.blurry-screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 10;
}

#create-post-form > *{
    width: 400px;
    position: relative;
    left: -200px;
    margin-left: 50%;
}

.detail_info {
    transition: 0.2s;
    opacity: 0;
    width: 100px;
    font-size: 8pt;
    top: -50px;
    margin-top: -25px;
    margin-left: 40px;
    background-color: #fff;
    display: none;
    justify-items: center;
    align-items: center;
    border-radius: 100px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.opacity-05:hover > * {
    opacity: 1;
    display: grid;
}

.opacity-05:hover + * {
    opacity: 1;
    display: grid;
}

#create-post-inner{
    margin-top: 20px;
}

#create-post-form textarea{
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.1);
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px;
}

#create-post-form{
    z-index: 15;
    position: fixed;
    top: -200px;
    left: -275px;
    margin-left: 50%;
    margin-top: 50vh;
    background-color: #eee;
    border-radius: 10px;
    width: 550px;
    height: 400px;
}

#create-post-form form{
    margin-top: 30px;
}

.smallButton{
    width: 30px;
    padding: 3px;
}



.boderButton{
    background-color: rgba(0,0,0,0);
    border-radius: 100px;
    border: solid 2px #a6b0bf;
    margin: 3px 3px;
}

.boderButton:hover{
    background-color: rgba(0,0,0,0.1);
}

.skillInput{
    display: inline;
    text-align: center;
    /*border: solid 3px #fff !important;*/
}

.showBtnTechsdome{
    display:inline-block;
}

.hideBtnTechsdome{
    display: none;
}

.button:hover{
    cursor: pointer;
}

.roundButton{
    border-radius: 100px;
}

.smallButton:hover{
    background-color: rgba(0,0,0,0.1);
}

.smallButton{
    background-color: rgba(0,0,0,0);
    border-radius: 50px;
    border: solid 2px #a6b0bf;
    transition: 0.1s;
    width: 30px;
    padding: 3px;
}


