@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");
@import "~@fortawesome/fontawesome-free/css/all.css";

/* You can add global styles to this file, and also import other style files */

.container-style {
  margin: 100px auto;
  width: 80%;
}

.commentButton{
  padding: 0 10px !important;
}

.standardBackgroundColor {
  background-color: #f3f5f7;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

.standard-background-color {
  background-color: #f3f5f7;
}

body {
  margin: 0;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.btn.btn-rounded {
  border-radius: 35px !important;
}

.flex {
  display: flex;
}

.transition02s {
  transition: 0.2s;
}

.blurry-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 10;
}

/*
#create-post-form > * {
  width: 400px;
  position: relative;
  left: -200px;
  margin-left: 50%;
}

mat-tab-body{
  margin-top: 25px;
}
*/

mat-tab-label{
  min-width: 30% !important;
}

::ng-deep.mat-tab-link,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active, ::ng-deep.mat-tab-labels:nth-child(1){
  min-width: 10px!important;
}

/deep/ .mat-tab-labels:nth-child(1) {
  min-width: 10px !important;
}

#groupTabGroup ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0 !important;
  padding: 3px;
  margin: 3px;
}

.detail_info {
  transition: 0.2s;
  opacity: 0;
  width: 100px;
  font-size: 8pt;
  top: -50px;
  margin-top: -25px;
  margin-left: 50px;
  background-color: #fff;
  display: none;
  justify-items: center;
  align-items: center;
  border-radius: 100px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.opacity-05:hover > * {
  opacity: 1;
  display: grid;
}

.opacity-05:hover + * {
  opacity: 1;
  display: grid;
}

#create-post-inner {
  padding: 20px 20px 0 20px;
}

#create-post-form textarea {
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  resize: none;
  width: 100%;
  height: 150px;
  padding: 10px;
}

#create-post-form {
  background-color: #eee;
}


#create-post-form form {
  left: 0;
  max-height: calc(100vh - 100px);
  height: auto;
  padding: 0;
}

.smallButton {
  width: 30px;
  padding: 3px;
}

.boderButton {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  border: solid 2px #a6b0bf;
  margin: 3px 3px;
}

.roundInputField{
  border-radius: 20px;
  padding: 0 10px;
  border: solid 2px #a6b0bf;
}

.boderButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.itemInput, .skillInput {
  display: inline;
  text-align: center;
  /*border: solid 3px #fff !important;*/
}

.showBtnTechsdome {
  display: inline-block;
}

.hideBtnTechsdome {
  display: none;
}

.commentField{
  resize: none;
  width: 80%;
  height: 100px;
}

.button:hover {
  cursor: pointer;
}

.roundButton {
  border-radius: 100px;
}

.smallButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.smallButton {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  border: solid 2px #a6b0bf;
  transition: 0.1s;
  width: 30px;
  padding: 3px;
}

.itemDeleteButton{
  margin: -5px 10px 0 -25px;
  width: 15px;
  transform: rotate(45deg);
}

.itemDeleteButton:hover{
  cursor: pointer;
}

.itemInputButton:hover{
  cursor: inherit !important;
}

.itemInputButton{
  padding: 0 25px 0 10px;
  border-radius: 100px;
  border: none;
  background-color: #0058ff;
  color: #fff;
  margin: 2px 0 2px 5px !important;
  width: auto;
  display: inline-block;
}

.itemInputButton p {
  padding-left: 8px !important;
  padding-right: 10px !important;
  margin: 0 !important;
}

#tags {
  padding-left: 20px;
}

.myTag {
  margin: 0 !important;
  padding: 0 !important;
}

.addPictureContainer {
  display: inline-block;
  height: 100px;
  margin-top: -50px;
  padding: 0 !important;
}

#item-container{
  max-width: 300px;
}

#item-container li{
  display: inline;
}

/* modal content */

.modal-dialog .modal-content {
  border-radius: 10px;
}

.modal {
  overflow: auto !important;
}

.modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.modal-dialog {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul > * {
  list-style: none;
}

.post {
  width: 100%;
  /* min-height: 200px; */
  background-color: #fff;
  border-radius: 20px;
  margin: 10px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.small-profile-picture {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin-left: -70px;
  float: left;
}

.image-shadow {
  -webkit-box-shadow: -3px 3px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 3px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 4px 1px rgba(0, 0, 0, 0.1);
}

.post-main-feed {
  margin-left: 175px !important;
}

.side-container{
  display: grid;
  background-color: #0f6674;
  width: 25%;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  border-radius: 100px;
}

.side-content{
  align-self: center;
  width: 100px;
  height: 200px;
  border-radius: 20px;
  background-color: #00aced;
}

.side-content ul{
  justify-self: center !important;
}

.content{
  display: flex;
  flex-direction: row;
  min-width: 70%;
}

#main-dashboard-container {
  margin: 100px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.post-container {
  margin-top: 20px;
}

@media only screen and (max-width: 1100px) {
  #skills-container {
    max-width: 200px !important;
  }
}

@media only screen and (max-width: 880px) {
  .small-profile-picture {
    float: none;
    margin-left: 0;
  }

  #user-data-container {
    flex-direction: column;
  }

  #image-container {
    display: flex;
    align-self: center;
    flex-direction: column;
  }

  #user-header {
    justify-content: center;
  }

  #user-header .email {
    display: none !important;
  }

  #user-data-container > * {
    margin: 0 !important;
  }

  #user-profile-posts-container {
    margin-left: 0 !important;
  }

  #skills-container {
    margin: 15px 0 !important;
    max-width: 100% !important;
  }
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #202020;
}

body::-webkit-scrollbar-thumb {
  background: #5a6268;
}

/* picture upload  */

.photoResults {
  margin: 10px !important;
  padding: 0;
}

#photoUpload {
  margin-bottom: 10px;
}

.myImg {
  margin:0;
}

#newproject .myImg .myButtons button {
  margin: 0;
}
.photoResults p {
  font-size: 10pt;
  margin: 0;
}

.myButtons {
  margin: 5px !important;
}

.photoResults div {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
}

.filename:hover {
  overflow: visible !important;
  white-space: normal;
}

.visible {
  display: inline-block !important;
}

.photoRemove {
  margin: 0;
  padding: 0 4px;
}

#edit-banner li .photo-upload-comp .myImg .myButtons button {
  border: none;
  padding: 0;
  margin: 0;
}

#edit-banner li .photo-upload-comp .myImg .myButtons button:hover {
  background-color: unset;
}

#edit-banner li .photo-upload-comp, #edit-banner li .photo-upload-comp .myImg .myButtons {
  padding: 0;
  margin: 0 !important;
}

#edit-banner li .photo-upload-comp .myImg .photoResults {
  display: none !important;
}

.hidden-file {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 0;
  height:0;
  border:none;
  margin:0;
  padding:0
}

#uploader {
  justify-content: center;
  align-content: center;
}

.circular {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;
  margin: 3px;
}

#contributors {
  padding: 0;
  margin: 5px;
}

.contributors {
  padding: 0 !important;
  overflow: hidden;
  margin: 5px !important;
  width: 60px !important;
  height: 60px !important;
  max-height: 60px !important;
  max-width: 60px !important;
}

.contributor {
  height: 102% !important;
  min-width: 100%;
}

#contributors {
  padding-left: 20px !important;
  margin-bottom: 10px !important;
}


/* custom modal window for displaying images */
.modal-customclass .modal-dialog .modal-content {
  background-color: transparent !important;
  box-shadow: unset !important;
}

.modal-customclass .modal-dialog {
  width: max-content;
}
